[2018-12-27 22:58] lmangani opened #3 "imagestore"
![ezgif com-optimize 15](https://user-images.githubusercontent.com/1423657/50496835-404e6480-0a33-11e9-87a4-aebb71a668a7.gif)

[2018-12-27 22:58] #3 closed

[2019-03-10 15:29] lmangani opened #5 "ProtoBuf support"
The current implementation is parsing data but the decoder is broken and requires a pinch of `protobuf` skills. If anyone is willing to pick this up, please help yourself here:

https://github.com/lmangani/cLoki/blob/master/cloki.js#L53

[2019-03-10 15:45] lmangani opened #6 "Migrate API to uWebSockets.js"
Migrate to [uWebsockets.js](https://github.com/uNetworking/uWebSockets.js)

[2019-03-10 21:39] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/54091852-5ce91000-4385-11e9-849d-998c1e5d3243.png)

[2019-05-29 13:11] lmangani opened #7 "Benchmark Performance"
We would like to benchmark the current (and potential) performance of cLoki to find and eliminate any bottlenecks on its way to Clickhouse.

If anyone is willing to help or lead this effort, please attach to this issue :)

[2019-05-29 13:21] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/58560408-5a2fe580-8225-11e9-8198-22f84033989b.png)

[2019-06-01 09:25] lmangani opened #11 "Export Usage Metrics"
cLoki should collect and report Prometheus metrics about inserts, queries per label, and uptime.
Example: https://github.com/ricoberger/loki_exporter

[2020-02-17 16:21] lmangani opened #14 "Update API"
The Loki API has changed: https://github.com/grafana/loki/blob/master/docs/api.md

[2020-05-12 15:15] lmangani commented on #14
Is anyone willing to test this PR?

[2020-09-21 10:17] lmangani opened #17 "GO Port"
We are actively porting cLoki to golang for performance and consolidation of features and to reach its full potential with Clickhouse. If you' d like to be part of this initiative as developer, designer or tester, please +1 or post a comment to this issue.

Thanks in advance!

[2020-09-21 10:24] Slach commented on #17
really interesting initiative
I can test it and may make performance test

[2020-09-21 10:27] lmangani commented on #17
Thanks @Slach so much appreciated! Performance is key to this project, so we can sure use help there!

Will post updates to this thread periodically so watch this issue.

[2020-11-17 12:01] lmangani opened #18 "Loki 2.0: Matrix support for Charting"
Loki 2.0 introduces the `matrix` response format to display timeseries.

Our plan is to implement a custom Clickhouse query format exclusive to cLoki/cLoki-go to perform raw and templated clickhouse queries, response compatible with Loki 2.0 API.

## Analysis
### Request
[code]
#### Query
[code]
### Response
[code]

### Clickhouse Query Equivalent
Clickhouse query for timeseries at 60s resolution

[2020-11-17 12:02] lmangani commented on #17
For anyone interested, the first version has been released for testing and feedback: https://github.com/qxip/cloki-go

[2020-11-17 12:07] Slach commented on #17
wow ;) glad to see progress ;) guys thanks a lot for your efforts

[2020-11-17 17:03] lmangani commented on #18
And just like that... it works!

![image](https://user-images.githubusercontent.com/1423657/99421873-235cfc00-28ff-11eb-809e-455fd389f9ca.png)

[2020-11-18 12:27] lmangani commented on #3
![ezgif com-gif-maker](https://user-images.githubusercontent.com/1423657/99530591-d0885080-29a1-11eb-87e6-870a046fb4de.gif)

[2020-11-20 08:58] lmangani opened #20 "Implement Vertamedia macros"
The popular vertamedia plugin for Grafana features macro processors for query.
We should adopt those in cLoki for a unified clickhouse experience.

https://github.com/Vertamedia/clickhouse-grafana/blob/master/src/sql_query.ts

[2020-11-20 09:08] Slach commented on #20
as mantainer of `clickhouse-grafana`
I not sure it's a good idea

these macros designed for adapt and bring traditional clickhouse SQL queries to grafana "time-series specific" behavior (like $columns, $rate, etc)

Loki contains own query language and users will expect from cLoki "drop-in" replacement
i think implements all aspect of Loki query language, should more priority

[2020-11-20 09:22] lmangani commented on #20
Thanks @Slach - that's exactly the point. We'd like to support pseudo-loki queries, as well as our own macro commands to return data using the Loki connectors. This is already the case right now, ie:
[code]
This is inspired by the `$colums` macro and inverted to produce tag grouping rather than time grouping. Seems to work well and I feel the vertamedia plugin users could optionally bring that syn

[2020-11-20 10:22] lmangani commented on #18
Since the experiment was successful, we'll go for emulating as many functions as we can. We need to document each and map it to a clickhouse query:

* aggregate by
* sum_over_time
* avg_over_time
* stddev_over_time
* stdvar_over_time
* max_over_time
* min_over_time
* quantile_over_time

[2020-11-20 14:49] #18 closed

[2020-11-20 16:15] lmangani commented on #3
![cloki_logo](https://user-images.githubusercontent.com/1423657/99822833-f9504780-2b53-11eb-8b28-99484eab6157.png)

[2020-11-20 16:27] Slach commented on #3
nice logo ;)

[2020-11-23 16:26] lmangani opened #21 "Telegraf Input for Metrics"
**cloki** features basic supports for ingesting metrics from Telegraf HTTP output plugin:

#### Telegraf Configuration
[code]

#### Query Metrics
Logs and Metrics are stored in the same table.

The following query defaults to the cloki metrics and automatically uses fingerprints and metrics response:
[code]
![image](https://user-images.githubusercontent.com/1423657/100233935-aba85600-2f2a-11eb-94d

[2021-01-13 10:55] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/104443022-26d6d180-5596-11eb-907a-9925a43e9a32.png)

[2021-01-14 09:13] lmangani commented on #20
@Slach would you be willing to give us some generic feedback on the current cloki macro query approach?
https://github.com/lmangani/cLoki/wiki/ClickHouse-Metrics

[2021-01-14 10:44] Slach commented on #20
@lmangani I still not sure about add additional functionality query language dialect is a good idea,
sorry guys, maybe I not the right person for questions

could you clarify one thing for me
how you going to insert log data to ClickHouse side?
is your plugin only read-only for exists ClickHouse data?

[2021-01-14 11:57] lmangani commented on #20
@Slach thanks!

cLoki can currently do a few things:

- read from any clickhouse table (no matter how you insert) using the custom [cloki functions](https://github.com/lmangani/cLoki/wiki/ClickHouse-Metrics) and slowly emulate Loki 2.0 style queries on top of that.
- insert logs / fingerprints in clickhouse using the emulated [Loki HTTP API](https://github.com/lmangani/cLoki#api-examples) using [t

[2021-01-14 12:18] Slach commented on #20
@lmangani ok. so maybe `clickhouse()` still not a good idea, cause it will hard switch between native Loki and cLoki data sources

[2021-01-14 13:08] lmangani commented on #20
@Slach good point - will keep it in mind and probably let `clickhouse()` just handle raw clickhouse queries instead.
For clarity, cLoki does not speak or connect to native Loki - it just emulates its API and provide additional functions in-the-middle.

[2021-02-04 14:57] shawel opened #24 "Is /loki/api/v1/push Schema different from Loki on purpose?"
I get this from Loki API doc https://grafana.com/docs/loki/latest/api/#post-lokiapiv1push
[code]

[2021-02-04 15:23] lmangani commented on #24
Hey @shawel thanks for bringing this up. are you referring to the readme or the code?

[2021-02-04 15:33] shawel commented on #24
Thanks for the reply @shawel

I don't think insert will be successful for the above push API.  It works for the following format but this is really different from what is documented on Loki Website
 `{"labels":"{\"__name__\":\"up\"}","entries":[{"timestamp":"2018-12-26T16:00:06.944Z","line":"zzz"}]}`

Most specifically it fails on https://github.com/lmangani/cLoki/blob/122c81cdabd211a53cad1a05a358

[2021-02-04 15:42] lmangani commented on #24
I believe that's the pre-v1 api format

[2021-02-04 15:51] lmangani commented on #24
I checked and indeed, this is the old Loki v0 API push format right there. We've focused on the query APIs so far but it's a simple patch luckily.

[2021-02-04 15:55] shawel commented on #24
ok! thanks! Just starting to test it out and wasn't sure

[2021-02-04 20:43] lmangani commented on #24
@shawel pushed a new block to handle the format when there are `values` rather than `entries`

[2021-02-05 00:53] shawel commented on #24
Ok! perfect thank you @lmangani. I will test and close

[2021-02-05 13:42] shawel commented on #24
HI @lmangani  The code change failed to work for me. I think there were several places that did not conform to the schema.

I think this should be stream.stream https://github.com/lmangani/cLoki/blob/57eefc92100e3d7a3f9b23ec887c16d14ce20319/cloki.js#L168

stream.labels no longer exists in the schema
https://github.com/lmangani/cLoki/blob/57eefc92100e3d7a3f9b23ec887c16d14ce20319/cloki.js#L149

stre

[2021-02-05 15:08] lmangani commented on #24
Great, thanks for sharing this! could you send a PR with your changes?

[2021-02-05 16:33] shawel commented on #24
sure thing!

[2021-02-07 19:24] #24 closed

[2021-06-05 16:05] lmangani opened #26 "Query Pipeline Re-Design"
Pipeline processor are currently brutal prototypes and we need to grow this into a dynamic, pluggable implementation.

A case in point would be adding a JSON parser/processor to extract metrics from logs. Realistically, we can't reimplement the Loki JSON parsing queries in cLoki in all of their beautiful complexity, but we can get away with a decent alternatives, for example [jexl](https://github.

[2021-06-07 10:03] akvlad commented on #26
Hello. This weekend I started creating some BNF from logQL. I don't know how long it can take. I hope to create some basic flexible logQL parser during this week.

[2021-06-07 10:17] lmangani commented on #26
@akvlad that's awesome! let me know if you can use any co-op. I've send an invite to join the project repo, feel free to make yourself home with any change/branch required.

In parallel i'm reworking something based on the [timelion chain](https://github.com/lmangani/timelion-chain-parser) function design to provide a modular, plugin-based pipeline processor for extracted data.

[2021-06-14 10:06] akvlad commented on #26
@lmangani . I've committed the initial version of logQL parser. It's just a parser now (syntax tree creator), the transpiler part is only stubs. And it needs much more testing. So if you want, please check:
https://github.com/akvlad/cLoki/tree/logql_parser/parser
https://github.com/akvlad/cLoki/blob/logql_parser/parser/logql.bnf - BNF description.
https://github.com/akvlad/cLoki/blob/logql_parser/

[2021-06-14 10:16] lmangani commented on #26
@akvlad is this christmas? thank you so much for this amazing kickstarter! will jump on this as soon as I have a time pocket

[2021-06-24 10:29] akvlad commented on #7
I'd like to ask about the current state of the issue.
Do you already have a training database to test and benchmark?

[2021-06-24 11:19] lmangani commented on #7
Hey @akvlad no state really - never made it very far on my own other than basic testing of basic tag queries against the original Loki API with fake datasets during development where cloki was only a couple milliseconds behind according on the Grafana measurements in read - never tested the inserting part as I mostly intended this as a query/read gateway.

I guess this would ultimately become a cl

[2021-06-26 17:41] akvlad commented on #7
Well. As far as I need some data to test the logql parser, I stopped to create some sample log generators.
They are here:
https://github.com/akvlad/cLoki/blob/integration_test_benchmarks/test/insert.benchmark.test.js
I can try doing a PR. Or I can merge these into the main cLoki. I'm not sure about the rules of the society.

[2021-06-26 17:44] lmangani commented on #7
Make yourself home! I invited you to join the repository, just visit the home to accept. Feel free to make branches and PRs. If you'd like we can arrange a session sometime soon to discuss ideas.

[2021-06-26 19:21] akvlad commented on #7
I'm very sorry, I've overslept the invitation. Can I get another one please?
Yes. We can arrange a session. Next Saturday maybe? I'm free in weekends.

[2021-06-27 08:50] lmangani commented on #7
Refreshed the invite

[2021-06-27 08:51] lmangani commented on #7
Thanks for accepting and for your enthusiasm! Let's coordinate for next weekend will try find a way to contact you directly ;)

[2021-07-11 19:08] akvlad commented on #26
CLoki have got the ability to `"=~"` and `"|~"` log database as well as another label and log message filters. So now it is able to process queries like `{dolor_sit=~"accusantium.+"} |~ "moll[iI]tia" `
The aggregation functions are on the way.
Everything is in the separate "logql-transpiler" branch. Feel free to check out.

[2021-07-14 08:45] lmangani commented on #26
@akvlad branch seems to be working great on a few basic tests! What can we do best to support you with this great improvement?

[2021-09-18 16:57] Dletta opened #30 "cLoki - Live Update Mode"
## Problem

Live Update Mode is not yet implemented.

## Goal / Solution / Example

Query: {type="call"}

* Grafana expects a websocket to be opened based on the query path below
 * ws://grafana/api/datasources/proxy/24/loki/api/v1/tail?query=%7Btype%3D%22call%22%7D
* The data that comes back from Loki (one line, but here prettified for reading
 * ```JSON
    {
     "streams": [
       {
        "

[2021-09-29 10:13] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/135249640-5f5a61e5-0f94-4517-b052-76d47c3572f5.png)

[2021-10-20 16:17] lmangani opened #40 "Celebrity Endorsements"
Yes. You can and should endorse cLoki with your [favorite celebrity](https://fakeyou.com)

[2021-10-20 16:17] #40 closed, assigned to nobody

[2021-11-04 06:49] akvlad commented on #30
Done with the PR.

[2021-11-04 06:49] #30 closed

[2021-11-04 14:09] #6 closed

[2021-11-04 14:09] #7 closed

[2021-11-04 14:09] #11 closed

[2021-11-04 14:09] #17 closed

[2021-11-04 14:09] #21 closed

[2021-11-08 17:13] Dletta opened #51 "JS Linting"
Add Linting for ease of collaboration with contributors and to keep a commong style.

[2021-11-08 17:14] Dletta opened #52 "Standardize Log Format"
Set a standard Log Format for 'Debug' logs. To add value to logs during troubleshooting.

[2021-11-08 19:15] Dletta commented on #51
Closed with PR #53

[2021-11-08 19:15] #51 closed

[2021-11-09 15:57] lmangani commented on #3
LIVE MODE
![ezgif com-gif-maker](https://user-images.githubusercontent.com/1423657/140958818-cb91c574-01ed-4792-ba41-747e31dbc30f.gif)

[2021-11-12 16:11] Dletta commented on #3
<img width="1526" alt="Screen Shot 2021-11-11 at 3 43 07 PM" src="https://user-images.githubusercontent.com/5729042/141498186-6a08b398-55f7-40dd-9a57-6010cda3dece.png">

[2021-11-18 12:13] navinpai opened #62 "Using cLoki with Distributed/Sharded Clickhouse"
Firstly, great project and I'm having quite some fun playing around with this _(and yes, we're all Clickhouse fans here)_ 😉

---

I was wondering how to get cLoki running in distributed Clickhouse mode. I have a cluster set up where I have manually set up master + N shards with master having the tables defined with `ENGINE = Distributed` in `master` and regular clustered ingestion/querying works f

[2021-11-18 12:33] akvlad commented on #62
Hello @navinpai ! Happy to see you interested in our small project!
Now we don't have any distributed modes for cLoki, but you can do it manually. According the information I heard from @lmangani  the manual configuration is tested and it works.
So now we use 3 or 4 tables:
- time_series
- samples_v2
- samples_read
- samples (if you have legacy data)

You can manually rename them with the "_standa

[2021-11-18 18:41] navinpai commented on #62
Hey @akvlad
Thanks for the quick reply! I was able to get the distributed mode set up manually as you suggested above, but I had to make minor changes to cLoki code locally to avoid warnings/errors below. Specifically, 8a6aaf942936361eaf2642890881be8c6461f8b2 introduced some `ALTER TABLE` commands which aren't supported by the `DistributedEngine`, so you get warning/errors:

[code]

However, these

[2021-11-18 18:44] lmangani commented on #62
@navinpai thanks for circling back your attempt! Indeed the alter wouldn't work as is if the storage engine changed. The ingestion will not suffer anything but the data will not be rotated out, growing indefinitely. We're happy to extend the current model to allow this more comfortably using this input

[2021-11-19 13:30] lmangani commented on #62
@navinpai a couple changes in https://github.com/lmangani/cLoki/pull/60 will allow skipping alters

[2021-11-19 21:54] #52 closed

[2021-11-21 15:55] navinpai opened #64 "`/api/v1/query` API not working?"
Been following [some of the documentation in the wiki](https://github.com/lmangani/cLoki/wiki/HTTP-API#cloki-http-api) and unsure why the `/api/v1/query` API does not return any results.

### How To Repro
[code]

[code]

[code]
PS This API in the wiki is incorrect, it says `api/v1/__name__` instead of `api/v1/label/__name__`

[code]

---
If I set `DEBUG=true` , I see this in the logs:
[code]

The

[2021-11-21 16:22] lmangani commented on #64
Hello @navinpai

Thanks for your report! There are indeed "leftovers" of the Loki 1.0 API here and there, and documentation for manual actions might need refresh. We'll make sure the examples for the `query` API are rectified in the coming days.

Now, `query` is used for doing queries against a single point in time, while most of the focus is on the Grafana integration at this time where `query_ra

[2021-11-21 17:16] lmangani commented on #64
Patches for `/query` endpoint being worked in https://github.com/lmangani/cLoki/pull/65

[2021-11-21 21:18] navinpai commented on #64
Thanks for the quick reply @lmangani

Unfortunately, looks like `query_range` is not working for me either.

### How to Reproduce

node v.17.0.1
cloki (current master: f3b32b5588942d888bbf0b55b8999904b9fddda0)
clickhouse v 21.12.1.8808

[code]
Debug logs show:
[code]

and I also see the data in clickhouse in `time_series` table and the `samples_read` table:
[code]

Any idea what I may be missing h

[2021-11-21 21:28] lmangani commented on #64
Thanks for the details, I see the issue now - the example is a bit misleading and it seems you're inserting metrics rather than strings/logs. This is a special feature for timeseries. You should insert to the line column instead as clients do.

[code]

Things should work if you push lines (please confirm)

More importantly everything works as intended when using Loki clients and Grafana which is o

[2021-11-21 21:32] lmangani commented on #64
Unrelated note: only node 14.x and 16.x are officially supported and other version might fail.

[2021-11-21 21:38] lmangani commented on #62
Thanks for the report @navinpai hopefully this is resolved. Please do feel free to share any observations or suggestions here or in new issues. We definitely want to offer options to support distributed tables out of the box, so any input is extremely valuable.

[2021-11-21 21:56] navinpai commented on #64
Ah yes... that seems to have fixed it.

The usecase I'm playing with cloki for is quite similar but I'm a suckler for testing APIs directly to know what's flowing in and out! 😄. I also confirmed via grafana that the data being pushed manually via is being returned there! Would be nice to have some simple examples to have people up and running, but can close this out for now! 👍

Thanks again @lmang

[2021-11-21 21:56] #64 closed

[2021-11-21 22:02] lmangani commented on #64
We'll extend the documentation with better examples. Thanks for taking the time to confirm & welcome to our users family!

[2021-11-22 21:47] navinpai commented on #62
@lmangani Was testing out the cloki API with a sharded clickhouse today, and came across another issue: The query_range API breaks on a distributed Clickhouse because it makes use of a distributed IN join.

### API
curl -G  "http://localhost:3100/loki/api/v1/query_range" --data-urlencode 'query={app="my-app"}'

### Logs

You can see the query that gets executed in `config.data` in the logs
[code]

[2021-11-23 09:51] akvlad commented on #62
@navinpai I finished beta version of the clustered clickhouse support. It is in the clickhouse-cluster branch https://github.com/lmangani/cLoki/tree/clickhouse-cluster.
New configuration for cLoki is described in changelog https://github.com/lmangani/cLoki/blob/clickhouse-cluster/changelog.md

In order to properly install the distributed tables you should at least drop your distributed tables and

[2021-11-24 13:03] akvlad commented on #62
@navinpai Hello again. I have changed the strategy of logs sharding and finished a new version of it.
Unfortunately it is incompatible with the one I created yesterday. But it passes all the backwards compatibility tests as well.
---
Feel free to test. But as far as this functionality is in a testing branch, please keep your sensitive data backup so you can reimport it to the new version of data s

[2021-11-24 17:27] navinpai commented on #62
Hey @akvlad I'll test this out. I tested out the changes in the parser yesterday and it seemed to work fine with a distributed cluster _(since I already had a manually created cluster)_, but will try to play around a bit with the E2E flow.

Thanks for the heads up about the data backup too.

[2021-11-29 09:31] mr-karan opened #68 "Provide versioned docker images"
Hi

Firstly, thanks for building and open sourcing this project! It's super amazing and I came here after watching [this talk](https://www.youtube.com/watch?v=E1yuPXNz5Fo). Clickhouse fan here as well and would love to try this project in my org.

I am looking to set this up in production and aiming at a `docker` setup. I think it'll be really nice if the [docker images](https://hub.docker.com/r/q

[2021-11-29 10:09] lmangani commented on #68
Thanks @mr-karan - good point indeed.  Since we are currently pushing features/fixes intensively and we pretty much need all users on the latest version and support validation, we're intentionally sticking with `latest` tag but once the release cycle will switch to stable feature releases we'll modify the GitHub action to push tagged containers.

Let's keep this issue open as a gateway reminder to

[2021-11-29 11:05] lmangani commented on #68
_TODO:_ change [docker tag](https://github.com/lmangani/cLoki/blob/master/.github/workflows/bump_version.yml#L86) to `${{ steps.version-bump.outputs.newTag }}`

[2021-11-29 11:47] mr-karan opened #69 "Configurable Payload Size"
I'm using https://vector.dev/ to push logs to `cLoki`. I've configured the batch size as 1MiB, because the log volume is huge (225GB file), so I want fewer requests to upstream (cLoki and subsequently even Clickhouse). Batching multiple log lines is ideal way to do it.

However, I am getting an error from `cLoki`:

[code]

Looks like the default payload size is 1MB. I couldn't find how to tweak th

[2021-11-29 11:55] lmangani commented on #69
Thanks for the report @mr-karan

This seems indeed an excellent idea - could you try to [hotpatch your local cloki.js](https://github.com/lmangani/cLoki/blob/master/cloki.js#L47)  with a custom bodyLimit value to confirm if this alone works?

[code]

[2021-11-29 12:20] mr-karan commented on #69
That fixes it, thanks for the prompt reply. Just a minor correction, we need to ensure the value is `int` for the env variable:

[code]

[2021-11-29 12:22] lmangani commented on #69
That's great! Thanks @mr-karan
Before adding this in a PR, do you foresee any other fastify parameters being generally useful other than `bodyLimit`?

[2021-11-29 12:39] mr-karan commented on #69
Looked at the docs and I can only think of setting up a sane default value for https://www.fastify.io/docs/latest/Server/#requesttimeout (Default is no timeout, seems like a bad idea honestly as it's easy to DoS)

[2021-11-29 12:48] lmangani commented on #69
Done!
[code]

[2021-11-29 12:57] mr-karan commented on #69
Awesome, thanks!

[2021-11-29 13:03] lmangani commented on #69
published cloki@1.1.16

Thanks for your help!

[2021-11-29 13:03] #69 closed

[2021-11-29 13:06] lmangani commented on #69
@mr-karan could you perhaps share a vector/cloki configuration example for the wiki?

[2021-11-29 13:28] lmangani commented on #3
![ezgif com-gif-maker (31)](https://user-images.githubusercontent.com/1423657/143876342-85531041-aca5-4892-a218-e8775674867d.gif)

[2021-11-29 13:30] mr-karan commented on #69
Sure. Here's a `vector.toml` sample file:

[code]

The `docker-compose` part for `cLoki` is pretty standard, no extra config needed:

[code]

[2021-11-29 17:55] mr-karan opened #71 "debug value isn't set properly"
I've set `DEBUG=false` in my container and verified as well, however I am still seeing the query logs which are at:

- https://github.com/lmangani/cLoki/blob/master/lib/db/clickhouse.js#L194-L205
- https://github.com/lmangani/cLoki/blob/7057932482e0d03cdc09409846cb04aaa405309e/lib/handlers/push.js#L85
- https://github.com/lmangani/cLoki/blob/7057932482e0d03cdc09409846cb04aaa405309e/lib/handlers/pu

[2021-11-29 18:18] Dletta commented on #71
Hi @mr-karan,

Thank you for your contribution. I will test it and merge it once it's confirmed.

Thank you again!!

[2021-11-29 18:41] lmangani commented on #71
Hello @mr-karan
The DEBUG value (like most other ENV bool options) is `false` by default and true when set to any string/int/variable.
This is by "KISS" design since almost no config platform that's not JSON based can pass an actual boolean.

[code]

[2021-11-29 18:41] #71 closed

[2021-11-29 18:44] mr-karan commented on #71
Noted.

I think then this should be removed: https://github.com/lmangani/cLoki/blob/master/docker/docker-compose.yml#L53 as it's confusing.

[2021-11-29 18:50] lmangani commented on #71
@mr-karan indeed that's a wrong example, sorry - we will refresh and move those examples into a separate repository next

[2021-11-30 03:20] mr-karan opened #73 "Question: How's timestamp ordering handled"
This is more of a question, than a bug report.

I'm curious how Out of Order Timestamp events are handled in cLoki. Recently, Grafana Loki 2.4 release came with a [feature](https://grafana.com/blog/2021/09/16/avoid-dropped-logs-due-to-out-of-order-timestamps-with-a-new-loki-feature/) that by default enables to send the stream in any order, as long as it's recent than the chunk max age.

I saw a fe

[2021-11-30 05:01] mr-karan opened #74 "Status code mismatch with Loki"
Loki actually returns `HTTP 204` for https://grafana.com/docs/loki/latest/api/#post-lokiapiv1push but `cLoki` returns 200. In order to make `cLoki` a transparent API layer acting as Loki, I think we should be sending the same status codes as what Loki's API also sends.

Example of the mismatch:

- Loki

[code]

- cLoki

[code]

Changing [this](https://github.com/lmangani/cLoki/blob/7057932482e0d03

[2021-11-30 06:26] mr-karan opened #75 "Configurable Partition options"
We have a large deployment log cluster and store multiple year's worth of logs. For us, partitioning by date is more useful than partitioning by hour.

Would it be possible to have [this](https://github.com/lmangani/cLoki/blob/1e0d6ed077740042b0473dd7f75cd230a50d2377/lib/db/clickhouse.js#L185) configurable as a `PARTITION_INTERVAL` variable?

Probably we can take
- `weekly`
- `monthly`
- daily`
-

[2021-11-30 08:09] lmangani commented on #73
Thanks for the great question! We're proud to confirm cLoki does not suffer from the same design limitation and out-of-order / older logs are happily stored in clickhouse w/o side effects

[2021-11-30 08:09] #73 closed

[2021-11-30 08:10] lmangani commented on #75
@akvlad and @adubovikov any comments or suggestions here?

[2021-11-30 09:01] mr-karan opened #77 "Question: How are label filters queried"
Firstly, I wanna add a note that I hope you're not getting annoyed with the issues I've opened :) I really am enjoying using `cLoki` and just presenting some more minor feature additions etc in the hopes that it'll make it even better.

I'd a question about how Label Queries are implemented. (I read the [docs](https://github.com/lmangani/cLoki/wiki/LogQL-Supported-Features#label-filter-expression)

[2021-11-30 09:18] lmangani commented on #77
@mr-karan in a pipeline, actions happen in the sequence they appear - so the json filtering happens after the json parsing, which happens after the clickhouse select. The following filter would produce results closer to your expectations at higher speeds:

[2021-11-30 09:31] mr-karan commented on #77
@lmangani The problem with using `|~ABCD1234` as the first stage is basically Clickhouse has to scan through _all_ the rows and do a string match of `ABCD1234`. It's quite slow and with around 117mn rows, it took ~27s:

![image](https://user-images.githubusercontent.com/5689132/144020751-fc628fe6-f942-4a3f-bb1b-4ac3c4b467b2.png)

[code]

What would be a good way to speed this up? I understand the

[2021-11-30 09:45] lmangani commented on #77
It's hard to tell if this performance is good or bad without knowing anything about your cluster/node specs and what timespan this query did include. Could you provide a more detailed picture of this usecase?

[2021-11-30 09:59] lmangani commented on #77
I re-read your comment. The behavior you are expecting only applies to the labels, not logs - for which there is no format expectation whatsoever, they could be strings or whatnot - So to boost performance, you should add `userId` as a label for this to work as fast as clickhouse can by allowing it to efficiently limit the returned rows pre-parsing.

[2021-11-30 10:10] mr-karan commented on #77
Ah, would high cardinality not deter the performance? Loki [advises](https://grafana.com/blog/2020/04/21/how-labels-in-loki-can-make-log-queries-faster-and-easier/#cardinality) not to put labels which have dynamic values. So, if I have a million distinct user IDs, would the number of fingerpint hashes be a LOT for Clickhouse to query? Do you foresee any problems with this, or do you think the inde

[2021-11-30 10:20] lmangani commented on #77
Thanks for sharing the details!

Our labels are just stored JSON objects with time boundaries and your semi-idle Clickhouse should have no issues dealing with this synthetic cardinality - actually this is exactly one of the limits we're pushing with cloki and your usecase might help demonstrate how plausible this approach is and what optimizations might benefit its design.

[2021-11-30 10:22] mr-karan commented on #77
Sounds interesting. I'll re-configure the labels and get back. Thanks for your advise!

[2021-11-30 12:10] adubovikov commented on #75
@mr-karan i suggestion to you make it daily because at the end you should not have a huge number of partitions in the table. You should not worry about huge file,  because scan will be by partition datetime key.

[2021-11-30 13:27] mr-karan opened #78 "Feature: Add support for tenants"
Would it be possible to add Multi-Tenancy support similar to https://grafana.com/docs/loki/latest/operations/multi-tenancy/ ?

The way I am thinking for this to work is:
- Get the `X-Org-ID` header from request
- Insert the logs to `cloki_<tenant>.*` tables (one db/tenant)

Loki actually uses a common Index store for all tenants, but chunk store is separated. We could follow the same or IMHO, a se

[2021-11-30 13:31] lmangani commented on #78
Hi @mr-karan this is not currently in scope yet, but will surely become an item in the future as we stabilize core features

[2021-12-01 18:31] #74 closed

[2021-12-03 23:44] lmangani commented on #77
@mr-karan did the suggested approach sort any better results?

[2021-12-04 01:36] mr-karan commented on #77
@lmangani So, i did try adding a user_id as label. The performance didn't become worse but it became only slightly better.

To give some context: I've been evaluating Loki for storing and analysing TBs of logs. I checked out this project because Clickhouse is really fast columnar DB and purpose built for it. But the approach that Loki takes of "indexing" and separate "chunk" store, I don't really

[2021-12-04 01:36] #77 closed

[2021-12-04 09:21] lmangani commented on #77
I think you might have some misunderstandings and assumptions about our actual design - the fingerprinting concept is from prometheus and it provides an exceptional lookup layer, nothing to do with the "chunk" store as we have no chunks - now unfortunately without any benchmarks this observation doesn't help improve anything does it. I think it would be fair to share back those "slow" examples if

[2021-12-04 09:43] akvlad commented on #77
@mr-karan . One more advice:
`{job="app",source="haproxy"} | json | user="ABCD1234"` - you are right. It has issues with "parameterless" `| json` parser as it is processed on the JS side.
But another request:
`{job="app",source="haproxy"} | json user="user" | user="ABCD1234"` - this should work.
The issue about `| json` will be debugged in the next version. Maybe you can open a new isssue or reope

[2021-12-16 21:16] xaled1 opened #84 "cLoki line_format difference from Loki"
Hi,

Is it intentional and if yes, then why there is a difference in cLoki line_format with a dot compared to Loki without a dot?

Loki: line_format "{{.labelname}}"
cLoki: line_format "{{labelname}}"

[2021-12-16 22:07] Dletta commented on #84
@xaled1 Thanks for the question.

Whenever possible we stay close to Loki API. Underneath we simply select the labelname we already extracted from the log.

I can only guess why Loki adds the dot here, but it's more intuitive and in our system it's not necessary to add a dot in front of the label

[2021-12-17 01:17] Dletta commented on #84
@xaled1 Thanks for the question.

Whenever possible we stay close to Loki API. Underneath we simply select the labelname we already extracted from the log.

I can only guess why Loki adds the dot here, but it's more intuitive and in our system it's not necessary to add a dot in front of the label, so we didn't add it.

[2021-12-17 08:03] xaled1 commented on #84
I get that it is easier not to have a dot, but it breaks the interoperability between cLoki and Loki without a hard reason.
It would be good ro have the interface the same to port Loki based LogQL to cLoki without issues.

[2021-12-17 09:51] lmangani commented on #84
@xaled1 absolutely, expect the next major version will provide 1:1 compatibility with LogQL as well as our extensions

[2021-12-17 09:54] lmangani commented on #84
@akvlad can this difference be "masked" in the parser striping out dots as a temp compatibility measure until the next major?

[2021-12-17 10:17] xaled1 commented on #84
Yes, we can use at as a workaround.
Do you have a rough time plan for the next major release?

[2021-12-17 10:21] akvlad commented on #84
I'll try to create a solution.

[2021-12-19 12:07] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/146674326-302bde15-4e65-48a6-a824-6c1f5ea04a63.png)

[2021-12-19 12:25] lmangani commented on #3
![cloki-udf](https://user-images.githubusercontent.com/1423657/146674780-0b2b4431-c550-498d-beae-ad7c7f3ce3c5.png)

[2021-12-20 10:17] akvlad commented on #84
Hello @xaled1 . We have a possible solution for you. It is in the https://github.com/lmangani/cLoki/tree/original_line_format branch.
Feel free to check. As far as it is a non-master branch highly experimental feature, we don't support backwards compatibility for it. So please play carefully. :)

[2021-12-21 21:32] xaled1 commented on #84
Thank you. Let me check it and get back to you.

[2021-12-23 16:55] lmangani commented on #84
This change has been merged to master - please upgrade and let us know if you notice any inconsistencies.

Thanks for your report and time!

[2021-12-26 16:38] xaled1 commented on #84
We have tested it and have not found any issues so far.
Thank you and have good holidays!

[2021-12-26 17:12] lmangani commented on #84
Thanks @xaled1

[2021-12-26 17:12] #84 closed

[2021-12-29 14:21] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/147671576-d4a21814-e2bf-46a6-bfb3-99489d92658c.png)

[2021-12-29 15:33] Dletta commented on #3
<img width="798" alt="Screen Shot 2021-12-29 at 9 32 50 AM" src="https://user-images.githubusercontent.com/5729042/147678155-75b8c6ee-1c65-4da8-b36f-b047cb3abffb.png">

[2021-12-29 15:35] Dletta commented on #3
<img width="1347" alt="Screen Shot 2021-12-29 at 9 34 53 AM" src="https://user-images.githubusercontent.com/5729042/147678331-b10c11f2-1595-4d0d-94c9-5d4a1efd6d12.png">

[2021-12-29 15:38] Dletta commented on #3
<img width="760" alt="Screen Shot 2021-12-29 at 9 37 59 AM" src="https://user-images.githubusercontent.com/5729042/147678693-80d40b1a-fd15-40bf-8c37-ccc9ac787bc1.png">

[2021-12-29 16:23] Dletta commented on #3
<img width="1419" alt="Screen Shot 2021-12-29 at 10 21 08 AM" src="https://user-images.githubusercontent.com/5729042/147682851-81b8146a-5776-4cc0-8e38-b4295dd57769.png">

[2021-12-29 17:42] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/147689245-8ebe63af-da25-4ffa-9748-f78d1337357c.png)

[2021-12-31 12:46] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/147824177-2ace7bf5-c40e-429b-a81d-0be0b28e7bb7.png)

[2022-01-02 20:25] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/147888567-698fbe2c-e4e0-47df-aec8-a1fc40b04194.png)

[2022-01-04 18:52] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/148109045-62d70a11-58e7-4fc4-a72a-538749baca9e.png)

[2022-01-07 19:15] Dletta opened #90 "Series API Support"
To support:

https://grafana.com/docs/loki/latest/api/#series
https://prometheus.io/docs/prometheus/latest/querying/api/#finding-series-by-label-matchers

To return Metadata over timeseries data.

[2022-01-31 11:57] lmangani opened #98 "Fix code scanning alert - Insecure randomness"
Tracking issue for:
- [ ] https://github.com/lmangani/cLoki/security/code-scanning/4

[2022-02-01 14:45] R-omk opened #100 "Use skip index for labels"
In this case, the index type 'tokenbf_v1' is suitable.
Before extracting the field from a json object, it need to check the presence of the key or the value using the hasToken function.
It also need to pay attention that word breaks are not allowed in tokens for indexing.

[2022-02-03 13:46] Dletta commented on #98
PR #101 will close out this issue

[2022-02-03 18:59] Dletta commented on #98
PR #99 Closed this issue

[2022-02-03 18:59] #98 closed

[2022-02-06 00:20] danjenkins opened #104 "protobuf requests fail and return 500"
It _looks_ like `req.raw` inside the `getContentBody` function doesn't exist in the version of fastify that gets installed.

[code]

I turned on request logging in fastify and this was the output...

[code]

If you add the `body` argument to the function call then `req.raw` becomes available

[code]

But this then leads to more pain

you then get to `let _data = await snappy.uncompress(body)` thro

[2022-02-06 00:47] danjenkins commented on #104
JUST as an FYI... I went back and looked at the commits.... I copied the code from here https://github.com/lmangani/cLoki/blob/bf3198abc1ab4deb6595d648bff97538b27ec0d6/cloki.js#L124-L155 and replaced it and everything works perfectly - these changes in master do not work at all https://github.com/lmangani/cLoki/blob/master/cloki.js#L205-L241

[2022-02-06 11:19] lmangani commented on #104
@Dletta the feature validation clearly leaves a lot to be desired
@akvlad could you chime in

[2022-02-06 16:54] lmangani commented on #104
@danjenkins should be fixed by https://github.com/lmangani/cLoki/pull/105 pending validation

[2022-02-06 17:47] akvlad commented on #104
actually it is by https://github.com/lmangani/cLoki/pull/106

[2022-02-06 17:52] lmangani commented on #104
Thanks @akvlad merge in progress. @danjenkins the docker containers should be upgraded shortly by CI/CD (latest)

[2022-02-07 17:29] derlaft opened #109 "Live watches are never terminated"
Steps to reproduce:

* Open logs "live stream"
* Close grafana window
* `WATCH` query looks to never be terminating, consuming quite a lot of server resources (even after cLoki restart)

Tested version: https://github.com/lmangani/cLoki/commit/c40d1d9664523e60964a8d0b9338575c0a6d4720, but happens for quite a number of commits already

[code]

[2022-02-07 17:31] lmangani commented on #109
@akvlad could you confirm this one?

[2022-02-07 17:33] lmangani commented on #109
Thanks @derlaft for your useful report we're looking into this and will confirm when a fix is ready to test

[2022-02-07 17:59] adubovikov commented on #109
@derlaft can you please provide the version of CH ?

[2022-02-07 18:30] akvlad commented on #109
Hello @derlaft . The LIVE VIEW functionality was hidden behind the `EXPERIMENTAL=1` env variable .
https://github.com/lmangani/cLoki/pull/110 should fix.

[2022-02-07 18:43] derlaft commented on #109
Awesome, thanks a lot.

Suspected something like that. Will try to open an issue.

[2022-02-07 19:52] derlaft commented on #109
I think I found the source issue:

When this format is used, `WATCH` is terminated successfully after some inactivity from the client side.

[2022-02-07 20:21] lmangani commented on #104
resolved, pending confirmation from @danjenkins (and thanks again for your report!)

[2022-02-07 20:23] danjenkins commented on #104
Yup I'm running master in production and it was working :)

[2022-02-07 20:30] #104 closed

[2022-02-08 07:37] akvlad commented on #109
@derlaft , the JSONEachRowWithProgress format is applied in cLoki. Thanks for the advice.

[2022-02-08 09:58] faust93 opened #111 "Unable to ingest events with up to date cLoki:latest docker image"
Using logstash with logstash-output-loki plugin:
[code]
cLoki logs:
{"level":20,"time":1644311903345,"pid":20,"hostname":"8963e215248b","name":"cloki","reqId":"req-l","msg":"POST /loki/api/v1/push"}
{"level":30,"time":1644311903418,"pid":20,"hostname":"8963e215248b","name":"cloki","reqId":"req-l","res":{"statusCode":204},"responseTime":85.98648452758789,"msg":"request completed"}
{"level":30,"time

[2022-02-08 10:04] lmangani commented on #111
Thanks for your report @faust93

I'm not 100% sure I understand, are you saying the issue has been resolved with the latest releases of cloki?
A major protobuf fix has been committed yesterday and might have affected your scenario positively.

If that's not the case - The 204 would suggest those inserts pass the cloki push API properly.
Do you see any errors emitted by clickhouse-server as you're

[2022-02-08 10:27] adubovikov commented on #100
Hi @R-omk ,

sorry for late reply, yes this is a good idea, the problem is that size of this index will be huge and insert will be a bit slower..
let us play around it and make it optional.

[2022-02-08 10:45] faust93 commented on #111
Opposite way. Issue has appeared with the latest release. I have cLoki docker image pulled yesterday and everything works as expected but with the latest image (qxip/cloki:latest pulled today) - does not.

Weird is that I do not see any errors in clickhouse logs, looks like things are fetched, merged etc and moreover - the data is there, select * from samples_read limit 10 shows me the log items i

[2022-02-08 10:57] lmangani commented on #111
Bug replicated, fix in progress

[2022-02-08 11:29] lmangani commented on #111
@faust93 release [v1.3.20](https://github.com/lmangani/cLoki/commit/ee7b8ae46fb452e105eb4c558935684b1a31b503) should address this problem. CI builds of containers has completed just now. Could you kindly try and confirm?

[2022-02-08 11:58] R-omk commented on #100
Yes, it's a good decision.

I also noticed that you can use an min/max index for the timestamp field, you can create a separate issue or include it as part of this one.

[2022-02-08 12:07] R-omk commented on #100
By the way, this is quite consistent with the general logging recommendation that the number of unique combination should be small. Therefore, this is not a big deal, since a new entry of labels will actually be added only once per partition (one per day for example).

[2022-02-08 12:10] faust93 commented on #111
It works! Thx!

[2022-02-08 12:12] adubovikov commented on #100
yes, but lets think big and expect a lot of uniq tags from different sources :-) I.e. voice / IoT that includes IP/hostname.

[2022-02-08 12:13] adubovikov commented on #100
but you are right - the update/insert should(MUST) not be offten.

[2022-02-08 12:15] lmangani commented on #111
Thanks again for your report, and glad to have you in our users community!

[2022-02-08 12:15] #111 closed

[2022-02-09 06:11] derlaft opened #113 "Fingerprinting hashing algorimth is prone to collisions"
After ingesting logs from the k8s cluster for quite some time I've noticed some strange results. When I was querying for one specific label, I was getting results which should clearly belong to a completely different one.

Some digging showed that the problem is collision:

[code]

This is the current fingerprinting code:

https://github.com/lmangani/cLoki/blob/c40d1d9664523e60964a8d0b9338575c0a6d

[2022-02-09 07:44] derlaft commented on #113
Hmmm - looks like original loki uses some kind of fingerprint mapping: https://github.com/grafana/loki/blob/a3bacd5739da2d41f3f9a2ad45fb58e8d0039006/pkg/ingester/stream.go#L72

[2022-02-09 08:02] akvlad commented on #113
https://github.com/grafana/loki/blob/a3bacd5739da2d41f3f9a2ad45fb58e8d0039006/vendor/github.com/prometheus/common/model/fingerprinting.go#L23
@derlaft sorry, but we can't just replace the fingerprinting function due to backward compatibility reasons.. I'll discuss with @lmangani if we will make a env config for this or make the the fingerprint function pluggable.

[2022-02-09 08:08] derlaft commented on #113
`FNV-1A` should still be much better than what's currently used btw

What exactly will break? From my understanding, new entries will use new fingerprint values, and in query time they will be joined into the result anyways. Maybe I am missing something.

This is a major problem, IMO it has to be solved out of box one way or another (mapping hash values and avoiding collisions like in cloki).

[2022-02-09 08:10] derlaft commented on #113
There's another minor problem.

Here value is converted from int to hex: https://github.com/lmangani/cLoki/blob/c40d1d9664523e60964a8d0b9338575c0a6d4720/lib/utils.js#L25

Here value is converted from hex to int again: https://github.com/joakimbeng/short-hash/blob/b7e1178b45b06bbf1697ba428b7da53664e96979/src/index.js#L5

[2022-02-09 08:30] derlaft commented on #113
So currently in the cloki install I observe only 752 label combinations (`select uniq(arraySort(JSONExtractKeysAndValuesRaw(labels))) from time_series`) (total rows: 3196510), but whole 185 different collisions (`select count() from (select fingerprint, uniq(arraySort(JSONExtractKeysAndValuesRaw(labels))) c from time_series group by fingerprint having c > 1)
`)

[2022-02-09 09:55] derlaft commented on #113
Interesting: despite having `UInt64` in database schema, it looks like current hash function produces 32-bit value:

[code]

[code]

[2022-02-09 10:43] akvlad commented on #113
@derlaft https://github.com/lmangani/cLoki/pull/115
This should satisfy everyone's needs.

[2022-02-09 16:50] lmangani commented on #109
Reopen pending https://github.com/lmangani/cLoki/pull/110

[2022-02-09 18:27] lmangani commented on #109
Merged! Thanks @akvlad for taking this to the finish line

[2022-02-09 18:27] #109 closed

[2022-02-09 18:28] lmangani commented on #113
@akvlad thanks Vlad once again for leading this change
@derlaft changes were merged to master and CI builders should produce the containers shortly. Please let us know if this resolves this thread, and please feel free to PR any other suggestion you might have to the code anytime!

[2022-02-10 15:08] akvlad commented on #113
Yes.
What about samples and samples_v2?
how many entries do you have in `the samples` table? What is the last timestamp in the `samples` table?

[2022-02-10 15:16] derlaft commented on #113
[code]

[2022-02-10 15:41] derlaft commented on #113
Yes!

`FROM cloki.samples_v2` does not OOM

[2022-02-10 16:05] derlaft commented on #113
I think this one can be closed now

[2022-02-10 16:05] #113 closed

[2022-02-14 16:16] R-omk opened #120 "Use DateTime64 type for store time"
When at one moment it writes several lines of logs, then the accuracy in ms is not enough. In this case, the order of the lines may be violated.

The screenshot shows that the initial precision that the containerd provides is much more accurate, which allows you to maintain the order of the lines.

![image](https://user-images.githubusercontent.com/1633879/153901941-199e90c5-5d23-46cc-b60b-c8fa4b7

[2022-02-15 21:23] lmangani commented on #120
Planned for v3 format increasing the internal time resolution and adding compression. Updates will follow.

[2022-03-18 09:01] lmangani commented on #120
Please test the latest releases and let us know your feedback

[2022-03-24 11:28] derlaft commented on #68
@lmangani there's already "v2" released with some breaking changes - is it finally time to enable docker tags?

[2022-03-24 11:36] lmangani commented on #68
@derlaft yes and good news, we've been testing this on a separate staging and it'll soon be merged into the actions

[2022-03-24 11:50] derlaft opened #134 "Same labels produce different fingerprints"
Hi,

we are running `cLoki` with `HASH=xxhash64`

and recently started receiving OOMs even on the most simple queries (5-minute ranges, for example).

It looks like there's something unhealthy going on with fingerprint duplication:

[code]

Same label sets keep producing vastly different fingerprints for some reasons now. Do you have any idea why it could happen?

[2022-03-24 11:53] derlaft commented on #134
I've selected a very specific label set and here are the results:

[code]

[2022-03-24 12:04] akvlad commented on #134
@derlaft can you estimate
`SELECT count(1) from time_series`
`SELECT count(1) from time_series WHERE (JSONHas(labels, 'pod_namespace') = 1) AND (JSONExtractString(labels, 'pod_namespace') = '***')`
?

[2022-03-24 12:07] derlaft commented on #134
@akvlad

`count() from time_series`: `7007130`
`count() from time_series` with one label filter: `3758921`
`count() from time_series` [for one specific label combination](https://github.com/lmangani/cLoki/issues/134#issuecomment-1077546252): `159589`

[2022-03-24 12:09] akvlad commented on #134
@derlaft do you have OOM for the 159K response as well?

[2022-03-24 12:12] derlaft commented on #134
@akvlad no

[2022-03-24 12:20] akvlad commented on #134
@derlaft so for the 3M select only. I'll generate similar amount of fingerprints and try to make some optimizations.

[2022-03-24 12:22] derlaft commented on #134
@akvlad I don't think the problem is the amount of rows. I think the problems is that it for some reasons generates different fingerprints for same labels. In this setup we hardly have enough different label combinations to justify 3M rows and 10G of RAM used

[2022-03-24 12:24] derlaft commented on #134
[code]

There's only 333 uniq label combination in the system. I don't having 3M uniq fingerprints and 7M rows is expected for such a small dataset.

[2022-03-24 14:00] #68 closed

[2022-03-25 12:56] akvlad commented on #134
@derlaft we have a solution candidate for your problem.
https://github.com/lmangani/cLoki/tree/labels_oom
1. it should stabilize fingerprints.
2. it should avoid OOM for **raw logs requests** time series requests can't be tuned this way.
Feel free to check

[2022-03-28 16:19] akvlad commented on #134
Hello @derlaft.
One more update for the OOM problem. Please check if the latest version in the https://github.com/lmangani/cLoki/tree/labels_oom branch doesn't fail with OOM.

[2022-03-29 14:53] akvlad commented on #134
@derlaft  It's more interesting if the request for the last week (you remember 3M fingerprints) fails now or not. Can you try `{pod_namespace="***"}` for a long period?

[2022-03-30 16:06] #134 closed

[2022-04-07 14:33] danjenkins opened #142 "No Browser Auth prompt asked for"
Now that cloki supports having the explore UI available... if you have cloki protected by basic auth and go to the URL for the UI in a browser you'll never be asked for basic auth credentials.

I think we just need to add the `authenticate` option to the registration of the fastify basic auth plugin. Info can be found at https://github.com/fastify/fastify-basic-auth#authenticate-booleanobject-opti

[2022-04-07 14:48] #142 closed

[2022-04-13 13:37] derlaft opened #147 "Query result duplication"
Hi,

just found a new issue :) Looks like query results are duplicated (in some cases?). Here's a query which cloki generated:

[code]

Here's a query I wrote which gets the same message. It is clear that there's only one row over there:

[code]

[2022-04-13 13:45] lmangani commented on #147
Thanks for reporting this @derlaft much appreciated, we're investigating this interesting case

[2022-04-13 13:50] akvlad commented on #147
@derlaft I think this bug will be fixed when https://github.com/lmangani/cLoki/pull/141 is merged

[2022-04-19 10:47] xuanyue202 opened #149 "Performance benchmark for loki and cLoki comparison"
Great project! Do you have any plan to construct a performance benchmark to compare loki and cLoki? It would be very helpful to help people like me to decide whether to use cLoki over loki.

[2022-04-19 10:52] lmangani commented on #149
@xuanyue202 thanks for the kind words and yes, we're working on our benchmarking suite as well as schema updates.
Since the two projects support the same APIs, once the above is completed we should be able to draw interesting comparisons on the various aspects, although our focus is on maximising the ClickHouse native performance aspects.

Let's keep this thread open for future updates.

[2022-04-19 15:57] #147 closed

[2022-04-20 07:20] xuanyue202 commented on #149
Thanks for the update. Looking forward to that!

[2022-04-25 15:24] lmangani commented on #3
![ezgif com-gif-maker (3)](https://user-images.githubusercontent.com/1423657/165121183-1d68415e-d39c-4bbc-b478-3cd65bfd0ab6.gif)

[2022-04-26 09:00] MohammadrezaNasrabadi opened #154 "Log/Table rotation in cLoki"
Hello

I'm using cLoki and in my use case I want the logs stored in clickhouse should be rotated and removed by weekly, monthly or ...
Just like logrotate tool that do such this action for syslog files.

I find two environment variables that their description is close to such this action: `LABELS_DAYS` and `SAMPLES_DAYS`
Is these variables really do table rotation in clickhouse?

[2022-04-26 09:11] MohammadrezaNasrabadi commented on #154
Thanks a lot for your help dear @lmangani

[2022-04-26 09:15] lmangani commented on #154
No problem and welcome to our community @MohammadrezaNasrabadi - Any feedback is super useful and appreciated!

[2022-04-26 09:15] #154 closed

[2022-04-30 14:45] R-omk commented on #120
In the new version, sorting works as it should. I guess we can close this issue

[2022-04-30 14:45] #120 closed

[2022-04-30 18:00] lmangani commented on #120
THanks @R-omk and totally up to your satisfaction. We want to push every limit so input and criticism to optimize are always welcome!

[2022-05-01 20:35] lmangani commented on #3
![ezgif com-gif-maker (4)](https://user-images.githubusercontent.com/1423657/166163222-9878936e-5114-4ece-883f-f721f5fba8ee.gif)

![ezgif com-gif-maker (5)](https://user-images.githubusercontent.com/1423657/166163594-c51cc598-50a2-4136-8792-91b45024c8d9.gif)

[2022-05-07 15:24] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/167260809-6a61647e-32ad-4820-834b-5771f372c7f3.png)

[2022-05-12 21:00] R-omk opened #158 "Possibility to specify several rules for ttl."
Sometimes different types of logs require different retention periods. (Or eviction to cold storage).
To do this, it need the ability to distribute data across partitions over some subset of labels.

For example, I want to delete logs with a debug level in a couple of days, and keep all the rest much longer.
Or another example, I would like to move logs with some set of labels that can provide ana

[2022-05-12 21:40] lmangani commented on #158
Good point, thanks for raising this! I guess we could implement some TTL-by-tag mechanism, but it might potentially ingestion down so it needs some discussion. cloki should work fine using the s3/minio storage engine, have you tried that already by any chance?

[2022-05-16 01:23] kazu12 opened #161 "how to create table “settings”"
I use k8s deploy cLoki. when it begin to run, I get a error:
`{"level":50,"time":1652663995707,"pid":19,"hostname":"cloki-76c77bc778-ps6tp","name":"cloki","err":"Error: Request failed with status code 404\nResponse: [404] Code: 60, e.displayText() = DB::Exception: Table loki.settings doesn't exist (version 21.1.3.32)\n\nError: Request failed with status code 404\n    at createError (/app/node_modu

[2022-05-16 01:51] lmangani commented on #161
This is [how](https://github.com/lmangani/cLoki/blob/master/lib/db/maintain/scripts.js) but it should be done by cloki during init. Are you using our container, or building your own? Please share more details and we'll try to replicate.

[2022-05-16 03:52] kazu12 commented on #161
I had already created two tables， the "samples" and the "time_series"

[2022-05-17 08:38] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/168768437-9975ae5e-233b-49ac-9b3a-a9b127abab38.png)

[2022-06-01 08:50] lmangani commented on #3
Uptrace + cLoki
![image](https://user-images.githubusercontent.com/1423657/171365866-d4de702e-cafe-4289-bb5e-47e0e32bf8ee.png)
![image](https://user-images.githubusercontent.com/1423657/171365914-a9524f9c-c35b-48c4-9903-9ddca9c16d85.png)

[2022-06-10 19:38] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/173138081-7fdc631c-eeff-4fb0-b9a5-b1cb18567b92.png)

[2022-06-10 20:19] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/173144443-fc7ba783-d5bf-47f9-bf59-707693da5ed1.png)

[2022-06-16 08:57] wangchaoforever opened #168 "loki explore "show context" error"
when I use grafana Loki explore, I click "show context" to show the context, but it throw an ERROR:
![image](https://user-images.githubusercontent.com/46668848/174032119-fe1b4b7d-5c74-4826-a6f8-145cd851ca51.png)
I also find the qryn server log:  Cannot read properties of null (reading 'rootToken')

[2022-06-16 09:07] akvlad commented on #168
Well, this function was always flawed on the Grafana side. I'll recheck the latest version, but for the most cases at the past the Grafana client was just sending a corrupted request.

Well, if it's possible, can you paste a request Grafana sends on 'show context' button? Maybe some "***" signs for label names/values are OK. Or you can just check yourself if the show context request is legit accor

[2022-06-16 09:18] wangchaoforever commented on #168
Thank you for timely reply.

[2022-06-16 09:20] wangchaoforever commented on #168
Thank you for timely reply. My local grafana is 7.x. I will upgrade my grafana to 8.x to verify this problem.

[2022-06-16 10:22] wangchaoforever commented on #168
@akvlad When I upgrade my grafana to 8.x, the problem is still exist.

[2022-06-16 10:26] wangchaoforever commented on #168
![image](https://user-images.githubusercontent.com/46668848/174050437-c5181dcd-5f12-4be7-8677-ebb0fd5a0746.png)
when the "time" button is turned on, there are two timestamps in my logs, is it affet the "show context"?

[2022-06-16 10:43] akvlad commented on #168
@wangchaoforever The first time is the timestamp when qryn registered your log line. It is stored separately. The second time is a part of the log line. It's connected to how you store logs inside qryn. (fluentBit, promtail or another ingester) Maybe there are some intelligent configurations to cut out time marks from initial log lines and send them as timestamp via the http protocol.

Show contex

[2022-06-16 10:47] lmangani commented on #168
Is it 8.5.x? We need all the details required to replicate this, since it seems to work fine for us and other users.

[2022-06-16 12:00] wangchaoforever commented on #168
yes，it's 8.5.6

[2022-06-17 03:09] wangchaoforever commented on #168
@akvlad when I set only one label for ervery log, the "show context" worked fine. But it throw error like above when I set several labels.

[2022-06-17 03:52] wangchaoforever commented on #168
I tried again. I set 5 labels and the labels's fields are all not null,  the "show context" works ok. But when there are null filed labels in logs, "show context" will throw the above errors.

[2022-06-17 08:21] lmangani commented on #168
@wangchaoforever could you show us a couple examples of labels with null values - are those intentionally generated?

[2022-06-17 10:45] akvlad commented on #168
I see. Null valued tags are forbidden. I'll add a check with 400 response for that case.

[2022-06-19 09:25] wangchaoforever opened #169 "How can I replace the timestamps by logs own timestamps?"
I use fluentd to collecet my logs to cloki.The logs arrive time is trivial to me. My logs contain it's own timestamps, How to use it's own timestamps replace the "time" in the loki UI ?

[2022-06-19 09:26] wangchaoforever commented on #169
Juse like [this issue](https://github.com/grafana/loki/issues/1544) in loki

[2022-06-19 09:57] lmangani commented on #169
@wangchaoforever  we support out of order timestamps just fine, but the timestamp itself is a responsibility of the client, not the receiver - so the issue is in your logging agent I suppose?

[2022-06-19 13:04] akvlad commented on #169
That's not about qryn / loki. It's about the FluentD configuration.

- You can configure one of these plugins https://docs.fluentd.org/parser according to the log lines format.
- You can write your own parser plugin if your format is not supported by any of FluentD core parsers https://docs.fluentd.org/plugin-development/api-plugin-parser
- You can run your application through a wrapper reformatti

[2022-06-20 07:25] wangchaoforever commented on #169
I tried use fluentd to collect logs to qryn, I can not find the way to replace arrive time by log's own time.

[2022-06-20 07:27] wangchaoforever commented on #169
Maybe I should use promtail.

[2022-06-20 14:11] wangchaoforever commented on #169
@lmangani Is your client is Promtail?

[2022-06-20 14:14] lmangani commented on #169
Not always. Depends on the job/system but they should all work fine - we use vector, grafana-agent, promtail and others such as our nodejs agent with equally successful results. Feel free to share an example of your configs if you need suggestions.

[2022-06-20 14:32] wangchaoforever commented on #169
Now my problem is the timestamp. I can't use the log's own time to replace the arrive time. My settings of promtail is:
[code]
Can you gave me some recommend?

[2022-06-20 14:50] akvlad commented on #169
@wangchaoforever you should configure a log parser according to the format you send. Promtail has a set of plugins named `pipeline_stages` https://grafana.com/docs/loki/latest/clients/promtail/configuration/#pipeline_stages .
Well, it's pretty similar to fluentD parser & filter plugins, just another format of configuration.

[2022-06-20 14:59] wangchaoforever commented on #169
@akvlad yes, I analyzed my logs already. The time of `source: time` in timestamp is my log's own time, but the timestamp in loki UI is the arrive time.

[2022-06-20 15:04] wangchaoforever commented on #169
I have no idea now. Maybe I should use loki to verify if it's the qryn's problem?

[2022-06-20 15:37] lmangani commented on #169
@wangchaoforever indeed cloki would not use the arrival time unless the time is wrongly formatted - and perhaps that's the issue. As @akvlad mentioned please share a couple example and we'll give it a try - Thanks!

[2022-06-20 15:40] wangchaoforever commented on #169
That's my settings of Promtail's scrape_configs
[code]

[2022-06-20 15:56] akvlad commented on #169
@wangchaoforever as far as you have `(?P<time>\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}.\d{3})` please try `2006-01-02 15:04:05.000` as the time format .
Also please check a log line against this regex somewhere like https://regex101.com/ . I'm concerned about the last (.\d{3}). Are these milliseconds?

[2022-06-20 15:58] wangchaoforever commented on #169
yes, (.\d{3}) is milliseconds. I will try with `2006-01-02 15:04:05.000`

[2022-06-20 16:07] #169 closed

[2022-06-22 10:28] derlaft opened #170 "Replication support"
Hi,

is replication support planned?

In theory it should be possible to replace engines [here](https://github.com/metrico/qryn/blob/c81858b01d6a185e00e16aca096f6739a061de6c/lib/db/maintain/scripts.js) to be `Replicated*` and it should just work.

Documentation also mentions `distributed()`, but it's not clear how that's supposed to work

[2022-06-22 10:30] derlaft commented on #170
Just noticed https://github.com/metrico/qryn/issues/62 - maybe it's a duplicate

[2022-06-22 10:36] lmangani commented on #170
@derlaft you're correct, changing the engine should be all that's required - we know several users doing so, and we have a couple test setups on various cloud providers providing this out of the box and this could easily be turned into a setup preference if the users want it. Feel free to extend this thread with any suggestions.

[2022-06-23 09:31] smmstf commented on #170
Hello, can you share the script to use to init replication please ?
I tried to replace the Engine as mentionned before but it didn't work. I saw issue #62 but it's not clear enough.

[2022-06-24 12:58] Bingmang opened #171 "Heap out of memory when using Grafana's live mode"
Hi, first of all, this is a great project, I would love to use this project in production, but there is a OOM case when I use it.

When I using "Live mode" on Grafana Loki Explore, the qryn container's memory will keep increasing, and when I stop the live mode, the memory will be free after about 2 minutes.

Not in live mode:
[code]

In live mode about 5 minutes:
[code]

qryn's log when OOM:

[cod

[2022-06-24 14:18] lmangani commented on #171
@Bingmang did you [allocate more memory](https://medium.com/weekly-webtips/increase-node-js-memory-limit-bonus-pm2-62cda081ce2a) to the process to cope with the load? Ie;

[code]

[2022-06-27 15:40] lmangani commented on #171
@Bingmang this this help?

[2022-06-28 03:15] Bingmang commented on #171
Hi @lmangani, thank you but the problem still exists.

The question is that the memory keeps increasing in live mode, no matter how large the heap size is.

I guess the reason may be that the previous query results is stored in memory in live mode and not freed, so the memory keeps increasing?

It is easy to reproduce, you can open several tabs at the same time, all open live mode, and then you ca

[2022-06-28 12:28] smmstf opened #172 "Cluster/Replication"
Hello, I'm using the following database schema to allow replication in my cluster
I don't know what i'm doing wrong but my tables are not replicated.
Any idea ?

CREATE DATABASE test on cluster loki_cluster ENGINE=Atomic;

CREATE TABLE IF NOT EXISTS test.time_series on cluster loki_cluster (date Date,fingerprint UInt64,labels String, name String)
ENGINE = ReplicatedReplacingMergeTree(date) PARTITI

[2022-06-28 17:28] omartheironman opened #173 "Querying cloki metrics from prometheus (monitoring cloki service)"
Is there is a /metrics url or an endpoint i can hit to fetch cloki metrics? inserts, queries, throughput etc?

[2022-06-28 19:16] omartheironman commented on #11
was there any updates on this? we are also looking to track usage metrics from cloki and performance

[2022-06-28 20:00] lmangani commented on #11
In the nodejs version we're currently measuring performance statistics using clickhouse, but this effort should be revived indeed now that we support telemetry as well alongside uptrace.

[2022-06-28 20:27] lmangani commented on #11
@omartheironman feel free to give https://github.com/metrico/qryn/pull/174 a try and let us know if it helps at all

[2022-06-28 20:37] lmangani commented on #11
Update: merged into qryn@2.1.4
You can enable the /metrics endpoint using the `FASTIFY_METRICS` ENV variable

[2022-06-28 21:09] lmangani opened #175 "Grafana 9: step parameter behaviour"
The usage pattern for the step query parameter seems to have changed in Grafana 9.x switching to a time-unit-signed format to control the pixel to point resolution of visualised charts using the `Resolution` parameter. From the docs:

[code]

#### Grafana 8.x
[code]

#### Grafana 9.x
[code]

## Issue

The step format change (`2` vs `2000ms`) results in excessive aggregation of time buckets in qryn

[2022-06-29 08:22] lmangani commented on #173
Yes, using the latest version and with the ENV `FASTIFY_METRICS` set a /metrics endpoint is published with API and memory statistics. This should of course be paired with the ClickHouse side statistics. Let us know if this helps!

[2022-06-29 08:22] #173 closed

[2022-06-29 08:24] lmangani commented on #161
qryn should create (or update) its owned tables when connecting to the database or cluster - is there anything preventing that from happening? Could you confirm if this is still an issue?

[2022-06-29 09:37] Bingmang commented on #73
I saw a few event errors in my vector pipeline too.

The loki is the qryn, the loki-local is the grafana/loki.

Don't know how to debug this, there is no warning or error log in qryn.

<img width="1067" alt="image" src="https://user-images.githubusercontent.com/19223221/176404245-c3cd9e8c-f917-4d96-a69d-15f7f14795c1.png">

[2022-06-29 09:43] lmangani commented on #73
Hey @Bingmang could you share any of those errors? We'll try to replicate it if we have elements to do so.

[2022-06-30 08:13] akvlad commented on #175
Should be fixed in the 2.1.5 version.

[2022-06-30 08:13] #175 closed

[2022-06-30 08:16] akvlad commented on #172
@smmstf how do you create the cluster? Can you give a sample of the config.xml part ?

[2022-06-30 08:45] smmstf commented on #172
Here's the configuration I use, I have 1 shard - 3 replicas:

[code]

I think my problem is in the creation of the Replicated tables :)

[2022-06-30 09:16] akvlad commented on #172
@smmstf In order Replicated* tables to start working you need clickhouse keeper to be configured. Do you have it? https://clickhouse.com/docs/en/guides/sre/keeper/clickhouse-keeper/

[2022-06-30 11:27] akvlad commented on #172
Ok. I reproduced the bug.
The configuration of clickhouse / keeper cluster is unbearably complicated conteining completely non-obvious steps. So you should recheck everything carefully. Here are steps I have spent a lot of time to figure out.
1. (pretty obvious) all servers should freely communicate through ports 2181 and 9444. So you can check if both ports are reachable with telnet.
2. If you us

[2022-06-30 12:33] derlaft commented on #170
If you just use `Replicated` without any additional configuration:

* There will only be one shard, all the data should be present on all the nodes
* There will be no load balancing in terms of reads (for that, external load balancer is required)

From my understanding (might be incorrect here), `Distributed` is the next step, built on top of `Replicated`, which allows to implement some sharding a

[2022-06-30 12:45] akvlad commented on #170
@derlaft let's say I have 10 shards behind kubernetes of HAProxy & round robin. I added 1000 logs with 1000 INSERT requests.
Then I do `SELECT * FROM samples_v3`. Will it return all the 1000 rows or only the rows from the random shard (about 100)?

[2022-06-30 12:52] akvlad commented on #170
@derlaft There can be a lot of shards with pure `Replicated` if I add some macros into config.xml
[code]

[2022-07-01 05:22] Bingmang commented on #171
@akvlad Great! It worked. I would like to suggest setting the flushTimer's interval to 1000ms or 500ms, otherwise the CPU usage will be a bit high, the impact on live mode experience is almost negligible. Or you can set it as a configurable parameter.

Thanks for your quick support!

[2022-07-01 09:16] akvlad commented on #171
fixed in https://github.com/metrico/qryn/pull/177

[2022-07-01 09:16] #171 closed

[2022-07-01 10:29] akvlad commented on #168
previous labels with null tags are broken, but after https://github.com/metrico/qryn/pull/178 all the inappropriate (non-string) tag values are stringified via the internal nodejs stringifier.
Just a reminder that non-string tag values are invalid by the logQL specification. It's more like a workaround to stop loosing broken log entries.

[2022-07-01 10:29] #168 closed

[2022-07-05 09:58] smmstf opened #179 "TLS/SSL error "unable to verify first certificate""
Hello, i have this error when i try to set TLS between clickhouse and cloki.
Before setting tls everything worked well.
Any idea please ?

`loki                   | > qryn@2.1.2 start /app
loki                   | > node qryn.js
loki                   |
loki                   | {"level":30,"time":1657014852345,"pid":19,"hostname":"ringover","name":"qryn","msg":"Initializing DB... test"}
loki

[2022-07-05 10:56] lmangani commented on #179
Hello @smmstf
Could you share more details - is the cert self-signed? is it a valid certificate?

`NODE_TLS_REJECT_UNAUTHORIZED=0 ` should make this pass insecurely but it should be be ignored as apparently your system thinks the remote chain is missing the intermediate certificate

[2022-07-05 12:35] smmstf commented on #179
No it's not self-signed certificate, i generated my own ca.
Here are my env variables, is something missing ?

`      - HOST=172.30.102.243
      - CLICKHOUSE_SERVER=172.30.102.243
      - CLICKHOUSE_PORT=8443
      - CLICKHOUSE_PROTO= https
      - CLICKHOUSE_DB=test
      - CLICKHOUSE_AUTH=admin:admin
      - DEBUG=true
      - NODE_TLS_REJECT_UNAUTHORIZED=0`

[2022-07-05 13:16] lmangani commented on #179
You're most welcome!

[2022-07-09 14:27] Skipper0707 opened #180 "[Question] generating fake old logs e.g. 6 months old"
Good day;

I need to test my log management stack's database query performance and in order to do so, I need to generate bulks of log messages that seem to be six months old.

I've come to understand that this could be possible using `cloki` HTTP API but I haven't been able to generate a valid Syslog RFC5424 log yet, also, I don't know if it's possible to forge fake timestamps using this method.

[2022-07-09 14:30] Skipper0707 commented on #180
UPDATE: I just found this piece of code in the wiki:

[code]

apparently, this could do what I want, the question is since I'm a newbie, do I have to change anything like for example should I replace the `streams` part?

[2022-07-09 14:43] lmangani commented on #180
Hi @Skipper0707 that's correct and it should work - make sure you use a label you can find. You could also use `vector` as a data generator in various formats then then script it to modify the timestamps. This is also useful to generate load tests against the stack using the loki sink. If needed I can share some examples.

[2022-07-09 14:45] Skipper0707 commented on #180
I would love it if you shared examples, also, thanks for the incredibly fast response.

[2022-07-09 14:51] lmangani commented on #180
Here you go: https://gist.github.com/lmangani/01ef4dfe81dfa5f9ce63f947a1a46db8

[2022-07-09 14:55] Skipper0707 commented on #180
Thank you so much, both the `curl` method and `vector` method work just fine.

Lots of love your way and thank you for this amazing tool.

Closing issue since I got more than I wanted in the first place.

[2022-07-09 14:55] #180 closed

[2022-07-11 11:33] Skipper0707 opened #181 "Grafana explorer doesn't load log volume past 116 days and throwing errors related to loki"
Hello again;

When I set the time range more than 116 days in the Grafana explorer ( either past 116 days or any range more than 116 days ), it fails to load the log volume and throws the following error:

![image](https://user-images.githubusercontent.com/71173136/178255180-b6389225-5993-4d17-aeca-7c08b9c78a81.png)

**Please note that** the log entries themselves get loaded just fine meaning I ca

[2022-07-11 11:59] akvlad commented on #181
@Skipper0707 log volume for 116 days may be too big to count in qryn server in 30 seconds.
You can try increasing timeouts in the grafana datasource configurations page.
But anyway according to my last benchmarks an OK clickhouse server can process 30-40mil log rows / second. So if you have 1billion rows written during 116 days it needs 34 seconds to compute the volume.
---
Please make sure that y

[2022-07-11 12:26] Skipper0707 commented on #181
I do have the latest version of `qryn`.

Unfortunately increasing the timeout to 60 seconds didn't work and the error still persists, is it safe to assume there is something wrong with the `clickhouse` or its configurations?

I've optimized my `clickhouse` in order to reduce memory and CPU usage.

I will retry with default configurations to see if it has any effects.

[2022-07-11 12:40] Skipper0707 commented on #181
@akvlad I just retried with clickhouse's default configurations meaning no optimization and the same error happens.

so far neither the timeout nor the clickhouse no-optimization seems to have solved the problem.

Can you please tell me what an OK clickhouse is? Are there any specific configurations or optimizations I should be doing since I'm using `qryn`?

[2022-07-14 08:29] #90 closed

[2022-07-14 13:34] Skipper0707 commented on #181
I sure will try that, thanks for the tip.

[2022-07-14 14:19] Skipper0707 commented on #181
@akvlad I tried what you asked and `qryn` completed all the requests that were wrapped to `rate(....)` without any problems, as a matter of fact, the bars and everything were there.

I also tried a `rate({appname:"app"}[1m]` with the range of 180 days and that worked fine too.

So I guess this is on Grafana.

Thanks for your help.

[2022-07-14 14:21] akvlad commented on #181
The log volume is a quite new feature. It can have flaws.

[2022-07-14 14:21] #181 closed

[2022-07-14 14:23] lmangani commented on #181
@Skipper0707 can you set DEBUG mode on temporarily and catch the problem logql query grafana sends?
It might differ and/or have changed possibly

[2022-07-16 09:16] ktpktr0 opened #183 "After installing cloki with docker compose, no logs can be queried"
I use https://github.com/metrico/qryn/tree/clickhouse-cluster/docker Docker compose YML created a cloki cluster for testing, but it did not store any logs.

[code]

[code]
cloki logs:
[code]
Try to view the database. No logs are stored in the cloki

![image](https://user-images.githubusercontent.com/41657218/179348674-c3e80264-69b5-4016-b2d1-21ac1ff9ee23.png)

[2022-07-16 09:27] lmangani commented on #183
The issue seems to be on the log sender side. Could you share your logger config?
Alternatively try sending some sample logs with vector or manually using the CURL examples to confirm qryn is working.

[2022-07-16 09:30] ktpktr0 commented on #183
[code]

[2022-07-16 09:42] lmangani commented on #183
Interesting. Your config should send to:

but the logs say otherwise:

Please try using vector, grafana-agent, promql or any other logql agent to confirm where the issue lies.

I also assume you mapped something to read to the pastash container, it won't read much from its own logs.

[2022-07-16 10:02] ktpktr0 commented on #183
I checked the configuration, docker-compose There is an error in YML. After I restart, the fault remains the same
[code]
[code]

[2022-07-16 10:10] lmangani commented on #183
This is not a fault, simply you're not inserting any data. As per previous suggestion, try sending some sample data first.

[2022-07-16 10:15] ktpktr0 commented on #183
Input in the pastash configuration has pushed all log files under /var/log under the host machine to Loki，Is this configuration incorrect?
[code]

[2022-07-16 11:43] ktpktr0 commented on #183
After I replace pastash Loki with prommail, the log collection is normal
![image](https://user-images.githubusercontent.com/41657218/179353404-a927cb5e-12f4-45ab-a63d-79fb2d7a3bf1.png)

[2022-07-16 13:16] lmangani commented on #183
@ktpktr0 that's perfect. I guess the issue is not with qryn but rather with the paStash example. We'll take a look at that separately!
Thanks and welcome to the qryn users group!

[2022-07-16 13:16] #183 closed

[2022-07-18 01:28] ktpktr0 commented on #183
@lmangani Looking forward to your test results

[2022-07-22 11:54] ktpktr0 opened #184 "Whether queue support is required before cloki storage"
I used elk cluster before. It collects file logs from filebeat and stores them in Kafka. Logstash takes them out of Kafka and sends them to es

I want to know whether cloki needs Kafka queue support (especially when there is a large amount of logs)

[2022-07-24 13:29] Skipper0707 opened #185 "[Question] How to stop seeing authentication information in container logs."
Hello again and good day to you all;

After container creation via either `docker` or `podman` when you enter the command `podman logs qryn` or `docker logs qryn` you'd see the following output:

[code]

I tried to stop this behavior by changing the log level to `error` via the environment variable like `-e LOG_LEVEL="error"` but it still showed the authentication information. My question is how t

[2022-07-25 08:44] Skipper0707 commented on #185
UPDATE:

I overrode the default entrypoint like below:

[code]
but it didn't change the above output so no joy.

[2022-07-25 08:56] lmangani commented on #185
Hello @Skipper0707 looking into this, standby

[2022-07-25 14:13] akvlad commented on #185
This line was removed during an overall logging review.
Please try v2.1.9.

[2022-07-25 14:14] Skipper0707 commented on #185
Sure will, thanks, will report back if it wasn't fixed.

Lots of love your way and appreciate the quick response and fix.

[2022-07-25 14:26] lmangani commented on #185
Thanks for the report @Skipper0707 please reopen the issue if the fix lacks any aspect

[2022-07-25 14:26] #185 closed

[2022-07-25 14:33] Skipper0707 commented on #185
The fix is perfect @lmangani.

Thanks for the absolutely quick response and fix.

Lots of love your way.

ps. I love this project and I'd love to contribute if needed, I will upload my resume so you'd see if there is anything I can do for y'all and your lovely project.

[Sina_Hosseini_Resume.pdf](https://github.com/metrico/qryn/files/9182068/Sina_Hosseini_Resume.pdf)

[2022-07-27 12:02] lmangani commented on #184
Hello @ktpktr0

This is most definitely a popular use-case. Most logql compatible agents such as `vector` support this out of the box where you can have one (or many) instances reading the logs into a kafka sink and on the other hand, a receiver inserting them into qryn/cloki through the logql sink - just an example out of many I'd suggest vouching to keep things simple and robust without adding e

[2022-07-27 12:02] #184 closed

[2022-07-28 11:59] ktpktr0 opened #187 "NPM install qryn failed"
[code]

install logs:
[code]

[2022-07-28 12:11] lmangani commented on #187
Hey @ktpktr0 thanks for the report - could you confirm if this is an issue with 2.1.9?

[2022-07-28 12:31] ktpktr0 commented on #187
I tried 2.1.9 and 2.1.10, and the results were the same

[2022-07-28 12:48] lmangani commented on #187
This must be Node 18 related as this is not an issue with 14.x and 16.x

[2022-07-28 12:57] ktpktr0 commented on #187
When I use node 16.x, only cnpm can successfully install version 2.1.10.

[2022-07-28 12:57] ktpktr0 commented on #187
When I use node 16.x, only cnpm can successfully install version 2.1.10.

[2022-07-28 13:08] lmangani commented on #187
@ktpktr0 what is your operating system? we cannot reproduce your issue so far

[2022-07-28 13:13] ktpktr0 commented on #187
rockey linux 8.6

[2022-07-30 10:45] ktpktr0 opened #188 "Can I provide replication and distributed SQL statements for Clickhouse clusters"
I set up a Clickhouse cluster locally, which has three shard 2 replicas. I want to know how distributed and cluster replication work in cloki.

I try the following operation. Is it correct？
[code]
When I try to start cloki, it has the following error:
[code]

[2022-07-31 13:40] Skipper0707 opened #189 "qryn managed alert doesn't get triggered."
Hello again and good day to you.

I've created an alerting rule managed by `qryn` via [this guide](https://github.com/metrico/qryn/wiki/Ruler---Alerts#-qryn-ruler--alert-manager) and it looks like this:

![2](https://user-images.githubusercontent.com/71173136/182028758-ed6e224f-2552-48ae-9b86-4ba17d225ea4.png)

The problem is when I wanted to test it by manually inserting some logs to match the co

[2022-08-01 04:39] coelho commented on #172
For anyone needing Sharding + Replication, I adjusted the schema and it works perfectly:
https://gist.github.com/coelho/c3b7bbb2c95caa61115d93692f9e4ae2

@lmangani Feel free to use as reference to add support :)

[2022-08-01 09:09] akvlad commented on #172
@coelho Doesn't it show some errors about subrequests in distributed tables? Or maybe distributed table requests inside CTE? Did you change something in the clickhouse config.xml file?

[2022-08-01 09:13] coelho commented on #172
@akvlad Completely forgot to include that. You're right - I edited my gist.

[code]

[2022-08-01 09:45] akvlad commented on #172
@coelho thanks for the gist. I think it can be included into our wiki as a recipe for clustering.

[2022-08-01 13:37] ktpktr0 commented on #172
@coelho I created a Clickhouse cluster with 3 slices and 2 copies, and used "https://clickhouse.com/docs/en/operations/settings/settings-profiles/" The database and data table are created, but qryn doesn't work normally, prompting an error of 500

[2022-08-01 13:40] coelho commented on #172
@ktpktr0 Can you show log output + test the tables in your Clickhouse?
for ex. for each table: `SELECT count() FROM time_series`

[2022-08-01 13:52] ktpktr0 commented on #172
vector_aggregate log:
[code]
qryn log:
[code]
clickhouse server log:
[code]

[2022-08-01 13:55] coelho commented on #172
@ktpktr0 Clickhouse log is incomplete, but it sounds like your Clickhouse cluster / replication just isn't setup properly.
You should validate your Clickhouse with manual SQL queries (ex. confirm Distributed/Replicated tables are working properly)

[2022-08-01 13:59] ktpktr0 commented on #172
I show my cluster configuration here https://github.com/ClickHouse/ClickHouse/issues/39767

[2022-08-01 14:07] coelho commented on #172
@ktpktr0 You _need_ to manually run SQL queries on the tables to debug the error.

- You need to make sure the tables were created on all replicas + shards. `ON CLUSTER` is used for this: https://clickhouse.com/docs/en/sql-reference/distributed-ddl/
- You will need to adjust my schema to work with your config. I am using variables like `{cluster}` that you do not have.

This is likely not the plac

[2022-08-01 14:09] ktpktr0 commented on #172
I tried the statement here, and it works normally https://github.com/metrico/qryn/issues/188

[2022-08-01 14:13] coelho commented on #172
@ktpktr0 #188 is a broken table schema with the current qryn as you'll have incomplete data.

[2022-08-01 14:15] ktpktr0 commented on #172
I am a novice of Clickhouse and qryn. I want to put each component cluster mode into the production environment.

[2022-08-01 18:36] Dletta commented on #189
@Skipper0707
Hi,

I just tried to reproduce the problem. A few things to note:

- Your are evaluating a 10s bucket every 1s for 1m. That may be causing the issue, have you tried increasing the evaluation to 10s in 1m? (In fact Grafana 9 will not let you use single-digit seconds for the interval)
- The way grafana evaluates, is this. Assuming 10 s for 1 m. It will wait for 10 seconds and then move

[2022-08-01 18:36] #189 closed

[2022-08-02 09:34] Skipper0707 commented on #189
Hello @Dletta and thanks for taking the time to test and respond.

Thanks for explaining the evaluation process and Grafana 9's consideration.

Would you be so kind to keep on helping me? If yes, can you please tell me if the following rules are closer to your tests or not? In short, are they better?

[code]

[2022-08-02 09:44] Skipper0707 commented on #189
I'm gonna add a screenshot that may help you help me, when I click on the view button it says `no data` in the Query results section.

![image](https://user-images.githubusercontent.com/71173136/182344847-075b7087-9cb7-4150-952d-4d5ee2241f07.png)

This could indicate that I've misconfigured something.

[2022-08-02 12:03] Dletta commented on #189
No problem at all.

If I understand correctly you want to see if you have *any* error messages
in your logs and be alerted?

Can you confirm your Grafana version and explain your goal. I think a 10s
interval and your rate query was fine, but if you look at the alert
definition you received back, it said it said Grafana had set it for you as
1s for 1m.

Once you tell me your Grafana version I'd be

[2022-08-02 14:20] Skipper0707 commented on #189
Thanks a lot, @Dletta, I appreciate you helping me, lots of love your way, and sorry for the late reply.

My Grafana version is v.2.0.9

[2022-08-02 14:23] lmangani commented on #189
@Skipper0707 that's hardly possible: see [here](https://grafana.com/grafana/download).
Our stack is compatible with Grafana 8.x and 9.x _(preferred)_

[2022-08-02 14:26] Skipper0707 commented on #189
@lmangani I apologize that was absolutely my bad, I meant to write v9.0.2

[2022-08-02 19:45] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/182460248-0f82c0a2-ee52-41f6-b2c0-8af624aba93f.png)

[2022-08-02 19:46] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/182460396-24f84692-0e77-491c-af54-7c76a149e50a.png)

[2022-08-03 02:37] ktpktr0 commented on #172
@coelho Can you share the configuration of Clickhouse? Thank you

[2022-08-03 06:17] Skipper0707 commented on #189
@Dletta I have to mention that I'm using qryn v2.1.9 because of #185. Grafana is still v9.0.2.

[2022-08-05 09:29] ktpktr0 commented on #188
When I use the following statement to create a database and data table, it has the following error:
[code]

qryn logs:

[code]

[2022-08-05 13:24] lmangani commented on #188
Hello @ktpktr0 - did you also set the following?

[2022-08-05 14:10] ktpktr0 commented on #188
Yes, I have set

[2022-08-09 09:03] lmangani commented on #188
@ktpktr0 the wiki has been updated, could you recheck against it? https://github.com/metrico/qryn/wiki/qryn-tables-replication-support

[2022-08-09 09:04] lmangani commented on #62
Converging the topic here: https://github.com/metrico/qryn/wiki/qryn-tables-replication-support

[2022-08-09 09:04] #62 closed

[2022-08-09 09:04] lmangani commented on #172
Thanks @coelho for all the contributed help. Converging the topic here: https://github.com/metrico/qryn/wiki/qryn-tables-replication-support

[2022-08-09 09:04] #172 closed

[2022-08-09 13:13] ktpktr0 commented on #188
@lmangani
I refer to the example to perform data table creation, but it does not work.

[2022-08-09 13:15] lmangani commented on #188
@ktpktr0 please attach the errors and make sure any relevant part of troubleshooting section is also completed

[2022-08-09 13:19] ktpktr0 commented on #188
[code]
[code]

[2022-08-09 13:28] lmangani commented on #188
The issue is still in ClickHouse and those are the relevant logs most likely?
There's no point in running qryn or vector until ClickHouse is up and running.

[2022-08-09 13:34] ktpktr0 commented on #188
I have tried to copy tables and distributed tables, and it works normally

[2022-08-09 13:48] lmangani commented on #188
The database is not, you need to look at what happened during table creation. Perhaps @akvlad has more suggestions.

[2022-08-11 13:11] ktpktr0 commented on #188
I tried a cluster of two nodes (qryn-clickhouse-cluster/docker/docker-compose-clickhouse-cluster.yml), but it also failed to work

[2022-08-11 14:35] akvlad commented on #188
@ktpktr0 I pushed a new tag with more logs on ping.
Please update the version and tell us the error you receive around the `Clickhouse DB not ready` one.

[2022-08-13 02:00] ktpktr0 commented on #188
clickhouse log:
[code]

[2022-08-23 19:30] Dletta opened #194 "Grafana Beta Search Support"
Following API is missing for Tempo Search (Grafana Beta Search)

Assuming a span with service.name = dummy-server and span name of "cache_lookup"

Search based on Service Name:
[code]

Search based on Span Name:
[code]

Search by Tags is ends up in the same query as above, except with the keys inside tags. This may not be possible in the current format.

[2022-08-24 11:54] lmangani commented on #194
@Dletta https://github.com/metrico/qryn/pull/195 ready for validation

[2022-08-24 13:35] dvillaume opened #196 "Performance advice about label vs line filtering"
Hello,
firstly i must tell this seems really amazing like often with qxip + clickhouse.

i just have a question about performance optimization.

Scenario :
-Storing  logs that contains correlation_id
- ~ 500 lines with the same correlation_id
- The correlation_id will concerns logs of a 4 hour time range.
- 1 million different correlation_id/day
- LABELS_DAYS and SAMPLES_DAYS: 15

What would be th

[2022-08-24 13:40] #194 closed

[2022-08-24 13:44] akvlad commented on #196
Technically clickhouse can bear 15mln of different label sets. But I don't advice to have more then 10mln.
if corellation_id has a good random distribution you can do something like `corellation_id % 100000` or `crc16(corellation_id)` to reduce the cardinality.
So it can be corellation_id hash label + corellation_id filtering.
Or you first option is ok as well.
I don't advice to keep cardinality o

[2022-08-24 13:47] lmangani commented on #196
Hey David - thanks for the kind words.

If the labels and the timerange can efficiently be used to reduce the set, assuming you'll query a subset of interest, I would not use the correlation_id as label since it can safely sit inside the message and be filtered at query time more efficiently without bloating the cardinality at all:
[code]

[2022-08-24 13:55] dvillaume commented on #196
Thanks both of you for your answers, reactiveness and for your efforts about open-source tools.

[2022-08-24 13:55] #196 closed

[2022-08-24 15:09] raiford commented on #172
@coelho apologies if this is not the best place to ask, but I am curious why you chose to use the fingerprint as the sharding key instead of something like `rand()`?  While experimenting with the schema I noticed my shards were getting unbalanced because of one type of logs that all have identical labels.

[2022-08-24 15:21] lmangani commented on #172
@raiford thanks for this interesting point, please feel free to submit any suggestion or open an issue dedicated to this topic, ideally providing everyone with the best options by default

[2022-08-24 17:17] raiford opened #198 "Best sharding_key for Distributed tables?"
I'm doing some experimentation with replication and sharding and still trying to learn more about the internals of qryn.  I don't have any concrete results yet but I started reading some of the CH docs and reviewed the suggested schema for distributed tables:

https://github.com/metrico/qryn/wiki/sharding-replication
https://github.com/metrico/qryn/issues/172

I'm wondering if using `rand()` for t

[2022-08-24 18:15] Dletta opened #199 "Implement /api/v1/series Endpoint for Prometheus Metrics"
**Objective**
Using the Loki Endpoint /loki/api/v1/series
https://grafana.com/docs/loki/latest/api/#examples-5

We want to also allow for
https://prometheus.io/docs/prometheus/latest/querying/api/#finding-series-by-label-matchers

We should allow for the use of the new Grafana Query Builder to receive a list of label choices one can pick from.

**Current Behavior**

Returns 404 and Grafana gets st

[2022-08-24 18:23] Dletta commented on #199
The following curl fails:

[code]

Changing Content-Type to JSON makes it work

[code]

[2022-08-24 18:38] Dletta commented on #199
#200

[2022-08-25 08:48] dvillaume opened #201 "Message ordering for logs with milliseconds precisions"
Hello,

we're facing an issue with logs ordering when souce precision is limited to milliseconds precision.

The logs in db are stored with the same timestamp_ns (ie. 1660814394000000000) so they appear in random order in guis and requests.

Do you think you can plan the addition of second ordering based on insertion date when timestamp_ns is the same ?

Regards

[2022-08-25 08:49] lmangani commented on #201
Hello @dvillaume qryn supports high precision timestamps, so this is most likely due to the sender usnig a low precision timestamp. What's sending logs?

[2022-08-25 08:53] dvillaume commented on #201
Hello,

this are freeswitch(precision milliseconds) logs exported via syslog (precision second).

We remap freeswitch timestamp as event the event timestamp (using vector.dev ).

[2022-08-25 08:57] lmangani commented on #201
Could you please share a sample logql push message to confirm you're shipping full timestamps?

[2022-08-25 09:31] akvlad commented on #201
Well, we don't plan adding extra timestamps to the log field for now. Precision is on the sender.
I can suggest adding nanosecond part of the log timestamp from the "now" time. like
`timestamp_of_log_sec * 1e9 * nanosecond_part_from_now_time` - in node. It can give you the right ordering.
But of course it will be a custom lua plugin for vector.dev.

[2022-08-25 09:54] dvillaume commented on #201
firstly i apologize the precision of my logs are microseconds and not milliseconds.

I could add the nanosecond par from now, but would still make unordered messages when logs from same microseconds would be send at differnent milliseconds.

For example if my logs have a microseconds 1661418725208068, if i send on them at nanosec : 1661418725208068999 and the second one at 1661418725208069000 , th

[2022-08-25 10:05] akvlad commented on #201
@dvillaume well, that's strange because microsecond precision should give you pretty good ordering.
Please take a look at this example
https://vector.dev/docs/reference/configuration/transforms/lua/#examples-count-the-number-of-logs
They make a counter and update it each new log line.
You can make the same counter and add `% 1000` of it (in case of microsecond precision) to the non-precise nanosec

[2022-08-25 12:01] dvillaume commented on #201
I may give it a try, adding a counter reset when microsenconds differs from previous, to avoid overlap when the counter reaches yyy9xx and goes to the upper thousand ie yyy+10xx.

I hope we'll never reach the 1000 logs limit.
Thanks for you time and advices.

[2022-08-26 15:30] raiford commented on #198
Quick update.  I'm still experimenting with this but will be leaving on vacation for a couple weeks so won't have any updates for a while.

[2022-08-26 15:33] lmangani commented on #198
Thanks @raiford enjoy your holidays and we're looking forward to any future updates on this thread!

[2022-08-26 20:03] R-omk commented on #198
I think this may be related. The rules for sharding and for TTL may be similar.
https://github.com/metrico/qryn/issues/158

[2022-08-26 21:08] R-omk commented on #198
As for the choice of strategy - don't worry about network transfers while reading, especially don't worry about transferring data from the time_series table, there is too little data (however, you should take care to use `fingerprint IN (network subquery` instead of `JOIN (network subquery` ).

What is really worth thinking about is that there are fewer disk reads/writes involved for write and rea

[2022-08-29 19:54] Dletta opened #204 "Prometheus Metrics Label with Dot Notation"
Add support for "." inside labels for prometheus/influx metrics.

#### Expected Behavior

Assuming a label like service.go_mem_alloc, qryn should accept and read this metric in prometheus query and return values.

#### Current Behavior

No data is returned for metrics labelled with a "."

[2022-08-30 09:43] akvlad commented on #188
@ktpktr0
`getaddrinfo ENOTFOUND 192.168.10.150:8123;192.168.10.151:8123;192.168.10.152:8123\nError: getaddrinfo ENOTFOUND 192.168.10.150:8123;192.168.10.151:8123;192.168.10.152:8123`
do you specify multiple hostnames of clickhouse with the `;` sign in the `CLICKHOUSE_SERVER` variable?
We don't support multiple clickhouse servers in qrynJS. You can request only one clickhouse server from one qrynJS

[2022-08-30 09:53] ktpktr0 commented on #188
How does qryn connect when my Clickhouse is a cluster? Using chproxy?

[2022-08-30 10:58] 1xtr opened #205 "Don't start in container"
Very simple demo for try qryn:
docker container with CH already running in docker network.
I added container with `image: qxip/qryn:latest` and only one ENV like this
`CLICKHOUSE_SERVER=http://${CH_USER}:${CH_PASSWORD}@clickhouse-server:8123`

Container stop immediately if error:

[code]

[2022-08-30 11:06] akvlad commented on #188
- You can use ch-proxy.
- You can run one qryn-js instance for each clickhouse node and hide it behind a round-robin load balancer (no alerting in this case)
- You can run a qryn-js instance and attach it to only one clickhouse node as far as it uses distributed tables.

[2022-08-30 11:06] lmangani commented on #205
Hello @1xtr

Have you tried using our actual [ENV variables](https://qryn.metrico.in/#/env) to configure the process?

[code]

Please refer to our full-blown example w/ all settings on our [qryn-oss-demo repo](https://github.com/metrico/qryn-oss-demo)

[2022-08-30 11:21] ktpktr0 commented on #188
For example, I have a Clickhouse cluster with 3 partitions

About 2:

Ningx -- > qryn1 + slice 1; Qryn2 + fragment 2; Qryn2 + slice 3

About 3:

Based on the previous architecture, which tables need to be written using distributed tables?
Can I use this example to establish a log structure
https://gist.github.com/coelho/c3b7bbb2c95caa61115d93692f9e4ae2

Regarding the first two architectures, when

[2022-08-30 12:01] ktpktr0 commented on #188
Multiple qryn are connected to the Clickhouse cluster for high availability of qryn. When using distributed write and read, perhaps multiple qryn can be used to connect the same partition?

For distributed tabular tables, all tables need to be created and used for querying and writing. Then the example I provided should work.

[2022-08-30 12:08] lmangani commented on #188
@ktpktr0 if you're scaling qryn, the same configuration logic applies to all instances in the same "cluster" - since they are basically stateless, as long as they all talk to the same CH cluster (distributed table or otherwise) things should work and scale fine. You can also have instances dedicated to querying w/o any ingestion if you want to separate the two loads

[2022-08-30 12:15] ktpktr0 commented on #188
Load separation refers to read / write separation? One or more qryn is used to read logs, and it connects the first copy of the Clickhouse fragment; One or more qryns are used to query logs, and it connects the second copy of the Clickhouse partition?

[2022-08-31 08:57] ktpktr0 commented on #188
When I change to a Clickhouse node, it still reports an error

[code]

[2022-08-31 09:04] ktpktr0 commented on #188
Whether a configuration (cluster) can be added. When Clickhouse is a single machine, it is set to no; When Clickhouse is a cluster, it is set to yes. There is no need to manually execute SQL statements.

[2022-08-31 09:20] lmangani commented on #188
@ktpktr0 good point - we'll discuss this and come up with some possibilities such as allowing provisioning templates.

[2022-08-31 09:23] ktpktr0 commented on #188
I look forward to these improvements. In addition, when multiple service logs are stored in one table, will the performance of a single table decrease if the data volume is large or the storage time is long?

[2022-08-31 14:08] akvlad opened #207 "Full-weight cluster support"
# Current status
Cluster support created in https://gist.github.com/coelho/c3b7bbb2c95caa61115d93692f9e4ae2 gist and copied into our wiki page.
It's a bit hacky as it needs non-trivial manual approach to run.

# Improvement request
## Environmental cluster configuration
Create an env variables to specify clustered clickhouse support
[code]
If these variables are provided, then qryn should run crea

[2022-08-31 17:58] akvlad opened #208 "Opentelemetry traces enchancements"
# Current status
Opentelemetry traces are currently stored in the same table as logs. Searching by tags is provided by the same mechanism as logQL based searching. It has several disadvantages:
- looking for traceID is possible for the last hour only
- searching by the span duration is impossible as it needs full scan with JSON decoding

# Improvement request
Make a separate tables to save zipkin

[2022-09-03 06:54] coelho commented on #198
I chose `fingerprint` as the sharding key to optimize compression. In regards to query performance, I believe it's negligible given an average query's cardinality.

I think the main concern is unbalanced shards, and I'd say that again really depends on your cardinality. Dependent on your use case (for ex. logging), your cardinality may be pretty high so it may be a non-issue. With that said, this

[2022-09-09 18:17] lmangani commented on #3
![image](https://user-images.githubusercontent.com/1423657/189417653-d4de5282-1320-45dd-9466-45d95237b534.png)

[2022-09-14 12:38] R-omk opened #212 "ORDER BY/ PRIMARY KEY for `samples` table"
I see that the primary key is chosen completely wrong for samples table.
https://github.com/metrico/qryn/blob/161117c/lib/db/maintain/scripts.js#L13

This means that in one partition there will be completely different records with different fingerprints. In such a situation, there can be no effective compression due to heterogeneous content.

Moreover, fingerprint search is not efficient at all. F

[2022-09-14 12:39] R-omk commented on #198
Here I described the current situation with compression
https://github.com/metrico/qryn/issues/212

[2022-09-14 13:19] R-omk opened #213 "use operator `like` instead of function `position()`"
https://github.com/metrico/qryn/blob/1c92c94/parser/registry/line_filter_operator_registry.js#L13

This may be useful in the future when using skip indexes.
https://clickhouse.com/docs/en/engines/table-engines/mergetree-family/mergetree/#functions-support

related https://github.com/metrico/qryn/issues/100

[2022-09-14 13:38] lmangani commented on #213
Thanks @R-omk another great point indeed
Would you be interested in joining the project team? :)

[2022-09-14 15:24] akvlad commented on #212
Ok. Let's check a complicated clickhouse request and discuss which primary key we should use.

`sum(rate({forwarder="vector"} | regexp "appname\":\"(?<a>[^\"]+)" [1m])) by (a) `

[code]

The ordering as @R-omk is suggesting used to exist. It was removed in the commit https://github.com/metrico/qryn/commit/496195f6f0115fce7bbb305a6f4db280b8b34dff about a year ago because of OOM errors upon such com

[2022-09-14 17:39] akvlad commented on #212
Actually I have been thinking lastly about some smart approach for this.
Let's say we have a more deterministic part of fingerprint in another field. It is an 8-bit hash of subgroup of labels based on your last requests. For example you frequently search by the `{app="myapp"}` tag. Why can't the software remember that and optimize the newly incoming data accordingly?

[2022-09-14 17:57] R-omk commented on #212
@akvlad , please explain what exactly is the problem and under what conditions it occurs.

--

as an option, it can exclude some labels from the fingerprint, but at the same time keep it in timeseries and gin as the second cascade of index. That approach may provide less cardinality for fingerprints. (if this is the problem that caused the schema to be changed)

[2022-09-15 10:01] R-omk commented on #212
[code]

It seems that `left join` is not needed here at all, the labels can be retrieved in a separate subquery via `IN (rate_a.fingerprint)`

In addition, it is required to limit the subset of labels and remove duplicates.

[2022-09-15 10:24] R-omk commented on #212
It is difficult to understand how the optimizer will work on such a large query. I would probably use sessions and use temporary tables with a specialized engine to work with sets and/or joins. In this case, the execution plan becomes more predictable, including when working with sharding.

For example, it is not obvious to me that arrayFilter (in rate_b) will happen before join or after, because

[2022-09-15 17:32] akvlad commented on #212
@R-omk After some discussion we created a custom env parameter for advanced users. https://github.com/metrico/qryn/pull/216 So you can create the new db with the correct primary key. Feel free to test.

[2022-09-23 14:42] #205 closed

[2022-09-23 14:43] lmangani commented on #208
Successfully implemented! Thanks super @akvlad

[2022-09-23 14:43] #208 closed

[2022-09-23 17:16] lmangani commented on #188
@panhaitao does a second restart create the tables?

[2022-09-28 03:47] lyl2008dsg opened #218 "Unexpected request content-type"
### when use Clickhouse MV, qryn will report this `Unexpected request content-type`

* CREATE MATERIALIZED
[code]

* system.text_log
[code]

* qryn error log `Unexpected request content-type`
[code]

###  tried to use curl , it worked

* push curl
[code]

* qryn success log
[code]

### try to look at the source code, I feel that there is no parsing of `lineAsString` format here?

* JSON.parse(body

[2022-09-28 11:19] akvlad commented on #218
@lyl2008dsg please check the https://github.com/metrico/qryn/pull/219 PR if possible.
Please check if your setup works with this fix.

[2022-09-29 23:39] justinabrahms opened #220 "Why AGPL?"
Hey metrico folks.

I'm curious.. did you choose AGPL because this is a business choice? Or because one of your dependencies is AGPL and you have to release your code as AGPL? Is there hope for a dual-license into something like an Apache 2.0?

[2022-09-30 07:26] lmangani commented on #220
Hello @justinabrahms

Thanks for opening this issue - its a great discussion topic, and a necessary one.

We believe at this early stage AGPLv3 protects our software best from being forked and extended by 3rd parties without benefiting the entire community back, since it's really a two-way community we're trying to build around our stack. %GPL licenses also discourage usage by corporations which n

[2022-09-30 11:23] grimkirill opened #221 "Unreliable save data in Clickhouse"
Each time when log ingester push new portion of data it expect 204 status code as a result of success processing and can retry request if any error. Right now qryn respond with succes rigth after ading this data into internal batch, this batch is afficient to be insterted into Clickhouse but does not provide any garanties about succes writes. Hence qryn losing data by its natire but this should be

[2022-09-30 11:28] akvlad commented on #221
@grimkirill can you share the statistics? Like "During the night I pushed 1 000 000 log lines but it saved only 900 000"?
Because I didn't see that effect during my local tests.

[2022-09-30 11:50] lmangani commented on #221
@grimkirill this should not be the case but if you can reproduce this behaviour, please share any evidence (logs, errors, anything) and we'll gladly address any shortcomings

[2022-09-30 14:51] justinabrahms commented on #220
Yeah, I'm looking around for things like a Loki logql parser that's not agpl (else we'd use the official one from Grafana).

I noticed y'all already forked one of their repos and kept it going on an apache license ( https://github.com/metrico/loki-apache ).

As we're looking at an expanded offering, we came across this repo, but cannot use it at work due to the agpl license.

[2022-09-30 15:41] lmangani commented on #220
@justinabrahms we can help with that. contact us at info@metrico.in for licensing details

[2022-09-30 15:41] #220 closed

[2022-10-01 05:53] lyl2008dsg commented on #218
Thanks a lot, qryn is working, I'll follow on it's release.

[2022-10-08 11:38] Skipper0707 opened #222 "Two rows of logs & two rows of labels per ONE fingerprint."
Hello again;

We've been having some trouble querying logs in Grafana in which when querying a set of labels we'd have mixed-up results such as logs with two sets of labels but one of the sets of labels didn't exist in the log itself.

After digging deeper and querying directly from the Database I realized there are two rows of logs and two rows of labels for a single fingerprint and that could be

[2022-10-09 18:09] lmangani commented on #218
Merged and released! Thanks @lyl2008dsg for your report and the assistance validating the patch!

[2022-10-09 18:09] #218 closed

[2022-10-09 18:39] lmangani commented on #222
Sounds like a potential fingerprint collision. Further details might be required. @akvlad any theories?

[2022-10-10 05:31] Skipper0707 commented on #222
@lmangani  I'd love to provide more details, just tell me what you need.

I'm using `qryn:v2.1.9` due to the #185 and `clickhouse:v22.1.3.7`

[2022-10-11 09:10] akvlad commented on #222
@Skipper0707 it seems you have a fingerprint collision.
You can enable a bigger fingerprint algo. Just specify `HASH=xxhash64` env var for qryn.

[2022-10-11 09:11] Skipper0707 commented on #222
@akvlad Thanks for the reply, changing the fingerprint algorithm via `HASH=xxhash64` solve my problem entirely Or should I test it for some time and report back?

[2022-10-11 09:15] akvlad commented on #222
@Skipper0707 No. It's an OK tested feature.
Can you send me the amount unique fingerprints you have?
Like `SELECT COUNT DISTINCT labels FROM time_series`?

[2022-10-11 09:23] Skipper0707 commented on #222
Of course @akvlad ;

[code]

[2022-10-11 09:29] akvlad commented on #222
@Skipper0707 So 695K. Does qrynJS work ok fast for this amount of labels?
Like speed of grafana load, grafana autocomplete?

[2022-10-11 09:35] Skipper0707 commented on #222
@akvlad I could say it's fast enough, it takes about 3 seconds to load the first 1000 lines of log of `job=syslog` which basically means all of my log labels altogether, selecting distinct and specific labels such as `appname` and `level` adds another 2 seconds to the time.

I have to mention I've made some optimization to the Clickhouse reducing the resource consumption, so if it's slower than yo

[2022-10-11 09:39] lmangani commented on #222
@Skipper0707 if you separate writing and reading in different qryn instances or simply multiply the number of instance and balance between them you can probably boost the performance significantly for a very low overhead

[2022-10-11 09:44] Skipper0707 commented on #222
@lmangani thanks for suggesting that, it sounds interesting. I will certainly try that and report back.

It might take some time due to our priorities but I will definitely try it.

[2022-10-11 10:09] Skipper0707 commented on #222
@lmangani @akvlad I'm sorry if I didn't open a new issue/question but I kind of want to take advantage of your kindness and ask for help regarding calculating `logs per second`, I've been trying to calculate my log management `logs per second` to find a relationship between resource consumption and `logs per second`. Is there any approach or method that you would suggest to calculate `logs per sec

[2022-10-11 10:13] akvlad commented on #222
@Skipper0707 if you have a common label name for all the labels you can use `count_over_time` or `rate` to calculate how many you produce per second.
But the real ingestion rate is not implemented.

[2022-10-11 10:15] Skipper0707 commented on #222
@akvlad Thanks for the absolutely quick reply, as a matter of fact, I do have the `job="syslog"` label and can in fact perform your suggestion.

Thanks again.

[2022-10-11 10:16] lmangani commented on #222
True ingestion rate would need exposing metrics from the ingestion layer. It's in the roadmap

[2022-10-11 10:20] Skipper0707 commented on #222
@lmangani Thanks for the quick reply.

That's actually great to hear. I'm looking forward to having those metrics available, they would make my job a lot easier. I'm `watch`ing the repo so I'd probably get a notification when they're implemented.

In the meantime, I'm going to use dear @akvlad 's suggestion to have an estimate of our ingestion rate.

[2022-10-11 10:33] lmangani commented on #222
Let us know if the collision is resolved and feel free to reopen an issue anytime if needed

[2022-10-11 10:34] lmangani commented on #221
Please reopen anytime if you have any data to share

[2022-10-11 10:34] #221 closed

[2022-10-11 10:44] Skipper0707 commented on #222
Sure thing I will monitor it for a couple of days and report back.

Thanks for all of your help.

[2022-10-12 07:24] Skipper0707 commented on #222
The fingerprint collision seems to be resolved after one day of monitoring, I will reopen this issue if another occurrence happened.

In addition, your suggestion to separate writing and reading in different instances of `qryn` did in fact boos the performance noticibly.

Thanks for all of your help,
lots of love your way.

closing for now...

[2022-10-12 07:24] #222 closed

[2022-10-13 12:05] Cluas opened #225 "Unexpected request content-type"
{"level":50,"time":1665662651531,"pid":19,"hostname":"qryn-59f4b87599-z9jp9","name":"qryn","reqId":"req-1bn","err":"Unexpected request content-type\nError: Unexpected request content-type\n    at genericJSONOrYAMLParser (/app/qryn.js:210:11)\n    at processTicksAndRejections (node:internal/process/task_queues:96:5)\n    at async Parser.fn (/app/qryn.js:373:12)","msg":"Unexpected request content-ty

[2022-10-13 12:07] akvlad commented on #225
Hello @Cluas, which client do you use?
Can you check if the content-type of your request is exactly `application/json`?

[2022-10-13 12:10] Cluas commented on #225
grafana agent config:
[code]

[2022-10-13 12:14] Cluas commented on #225
grafana agent logs:
[code]

[2022-10-13 12:15] Cluas commented on #225
grafana agent version: v0.27.0

[2022-10-13 12:15] akvlad commented on #225
Ok. I'll recheck grafana agent. Thanks for the feedback.

[2022-10-13 12:17] Cluas commented on #225
`application/json; charset=utf-8`, `text/plain; charset=utf-8`

[2022-10-13 14:41] akvlad commented on #225
After some investigation I've figured out that grafana agent supports otlp output but qryn doesn't have otlp input now, only zipkin.
I'll add a feature request for it.

[2022-10-13 14:43] akvlad opened #226 "Opentelementry ingestion for QRYN"
According to the issue https://github.com/metrico/qryn/issues/225 , Qryn needs opentelementry traces ingester in `/v1/traces` route so it can work with grafana-agent.

[2022-10-14 02:17] Cluas commented on #225
So what is the version of grafana agent in the documentation, and do I downgrade to the specified version first so I can use it first?

[2022-10-14 09:37] Cluas commented on #225
Hi @akvlad , I used otel-collector zipkin exporter directly to qryn, now I have data, but I found that the event information is missing (only time, no other information)
<img width="1433" alt="image" src="https://user-images.githubusercontent.com/10056928/195815044-028f215c-933c-4c1c-accd-26d010a8af70.png">

[2022-10-14 09:44] lmangani commented on #225
@Cluas the ZipkinV2 ingestor should do fine, and works with otel libraries and zipkin sinks in our testing - could you share your config to replicate this scenario?

[2022-10-14 09:52] Cluas commented on #225
1. config.yaml

[code]

2. Yes

[2022-10-14 09:56] akvlad commented on #225
@Cluas Ok. I'll recheck the events.
Can you do some check over the raw qryn database?
I'd like to see the overall structure inside the `annotations` key:
`SELECT JSONExtractRaw(payload, 'annotations') FROM tempo_traces LIMIT 10`
Of course please mask or erase all the sensitive information. But there should be something like:
[code]
If the structure is different then something is wrong with the col

[2022-10-14 10:34] akvlad commented on #225
Apparently a bug.
@Cluas can you check the qryn from a branch? https://github.com/metrico/qryn/tree/fix_225 has a fix for the problem you have.

[2022-10-14 10:42] Cluas commented on #225
any test docker image? If not, I'll build one locally.

[2022-10-14 10:44] akvlad commented on #225
@Cluas docker images are only for the main branch. So please build.

[2022-10-14 11:27] Cluas commented on #225
<img width="914" alt="image" src="https://user-images.githubusercontent.com/10056928/195836115-0ab0ee7d-d02e-4995-9605-91f637482da9.png">

[2022-10-14 11:28] Cluas commented on #225
I think there is still something wrong，the data format is a bit strange

[2022-10-14 11:34] akvlad commented on #225
It's exactly what you sent above. Qryn does no magic, just responses with the `value` string to this "message" field.

Maybe you can configure otel-collector to change the message format.

[2022-10-14 11:51] akvlad commented on #225
@Cluas well, as far as we see from this function https://github.com/open-telemetry/opentelemetry-collector-contrib/blob/697cac15bf1b4e4f690aec4ba440837d49d05393/pkg/translator/zipkin/zipkinv2/from_translator.go#L211 ,
zipkin annotation value is not configurable. So... The only way to have prettier messages is to wait for our otlp ingester and suggest the design of a message you want to see in the

[2022-10-14 17:40] Dletta opened #228 "Labels/Entries ingestion API Format"
#### Current Behavior

When using the following format of insert:
[code]

 We get a code 200 with Status Code 500.

#### Expected Behavior

Ingestion should work with this insert format.

[2022-10-14 18:44] akvlad commented on #228
@Dletta can you validate your input in this site? https://jsonformatter.curiousconcept.com/ it doesn't look like a valid json input.

[2022-10-14 21:01] Dletta commented on #228
Correct, it is not json, rather the object representing the format in question.

[2022-10-17 21:07] akvlad commented on #225
@Cluas, we have an OTLP ingester implementation for you in PR https://github.com/metrico/qryn/pull/229 .
Feel free to check if you are still interested.

[2022-10-18 03:47] Cluas opened #230 "should return 404 when traceID does not exist"
![img_v2_9dea4a86-17cb-4144-9394-13f40f1ad84g](https://user-images.githubusercontent.com/10056928/196330881-374bd784-a8cf-408f-bfa9-070b58cccb64.jpg)

[2022-10-18 09:49] lmangani commented on #225
@Cluas let us know if you get a chance to try this, and thanks in advance - external validation is extremely important for the project!

[2022-10-18 10:06] Cluas commented on #225
ok, I will try, by the way, I encountered an unusual crash today.
[code]

[2022-10-18 10:09] lmangani commented on #225
@Cluas which version is the bug report for? The PR or the latest build?

[2022-10-18 10:10] Cluas commented on #225
fix annotations PR version

[2022-10-18 10:30] akvlad commented on #228
@Dletta I can't reproduce it with the code snippet you have provided. Please provide the certain curl request.

[2022-10-18 15:17] #225 closed

[2022-10-18 15:18] #230 closed

[2022-10-19 09:33] lmangani commented on #3
![ezgif com-gif-maker (11)](https://user-images.githubusercontent.com/1423657/196654073-b84a218c-6a70-49bb-a477-e8be5714e0ba.gif)
![ezgif com-gif-maker (12)](https://user-images.githubusercontent.com/1423657/196654084-1f1d8a62-3fd2-4420-a2fa-57ac2872938c.gif)
![ezgif com-gif-maker (13)](https://user-images.githubusercontent.com/1423657/196654097-8a235253-bf5d-4937-9e78-fddf12819d44.gif)

[2022-10-20 08:07] Cluas opened #231 "node OOM when traceID with too many Span"
[code]

trace_id(hex): 171fb25c24c382c8

[2022-10-20 08:29] lmangani commented on #231
@Cluas assuming the docker container can use as much memory as it wants to, did you configure your nodejs process to use all the memory it wants? By default the limits are very low.
[code]
Alternatively just spawn more instances and distribute the load between them.

[2022-10-20 08:42] Cluas commented on #231
I changed this configuration and confirmed that this is not the problem, no matter how large I set it, the OOM will appear

[2022-10-20 08:57] lmangani commented on #231
Then the container memory is smaller than the parameter. Hardcode the memory to be the same for the container and the NodeJS process. This is not a qryn issue but rather a NodeJS in Docker question. Let's find the sweet spot.

With compose 3 you can specify container limits. Something as follows might do the trick:

[code]

[2022-10-20 08:59] Cluas commented on #231
I found the reason, indeed the amount of data is too large, there is a traceID associated with 1499201 span...

[2022-10-20 09:00] lmangani commented on #231
Could you explain this further? I do not understand.

[2022-10-20 09:01] Cluas commented on #231
A service that performs a bulk request, using the same trace context, and generates 1499201 associated trace span.

[2022-10-20 09:04] Cluas commented on #231
Can we limit this, I don't want the whole qryn service to be unavailable because of a faulty traceID. @lmangani

[2022-10-20 09:08] Cluas commented on #231
Can be used as an environment variable configuration items, so that you can better protect the service, the user reported behavior we can not control😂, only try to minimize the impact.

[2022-10-20 09:13] lmangani commented on #231
@Cluas good point but the system is not designed to police input and assumes agents sanitize output. If this is a bug (we badly interpret a valid object) we should open a dedicated issue and fix it. If the object is bad.... its the agent's fault to fix

[2022-10-20 09:39] Cluas commented on #231
This is an occasional case, we can just take protective measures, such as reporting an error to tell the user that the data associated with the traceID is too large, or just truncate some of the returned data, any ideas? @lmangani

[2022-10-20 09:43] lmangani commented on #231
Let's brainstorm. Edge first - Does the sending agent support bulk limits?

[2022-10-20 09:44] akvlad commented on #231
50MB / sec is the limit for now.

But we can't measure how many spans are in the trace at the time a client is sending a new one.

[2022-10-20 09:48] akvlad commented on #231
We can of course measure it afterwards and provide an alert about that.
"Your trace `123EF` is too large, we dropped some spans from it, sorry"

[2022-10-22 06:38] Skipper0707 opened #233 "[Question] How to configure Qryn's Alert destination?"
Hello again;

I have a Qryn-managed alerting rule that works perfectly fine thanks to the guidance given in #189 like below:

![image](https://user-images.githubusercontent.com/71173136/197324296-1cd3bb9d-f261-4382-8ec8-575b224a7748.png)

However, I don't know how to configure the alert destination and tell either Qryn or Alertmanager to send this alert to my destination which is a Telegram Chat.

[2022-10-24 11:49] akvlad commented on #231
@Cluas I have added the limit for reading spans. Please check against one of your giant traces.
https://github.com/metrico/qryn/pull/234

I'm thinking about the alerts for big traces.

[2022-10-24 13:02] akvlad commented on #233
We don't have ring kvstore.
We don't have any local storage except clickhouse.

In order to configure the tlg output you have to install an instance of Alertmanager https://prometheus.io/docs/alerting/latest/alertmanager/ and to configure it to send alerts to telegram.

Then you should configure qryn to use the alertmanager instance you created: `ALERTMAN_URL=http://my_alertmanager_url:1234`

[2022-10-24 13:05] akvlad commented on #233
I see the state of an alert as `firing`. It means that it sends something to alertmanager. Maybe you have some misconfiguration in there.
Qryn has only one configuration option: `ALERTMAN_URL`

[2022-10-24 13:08] akvlad commented on #226
OTLP have been added and covered with tests.

[2022-10-24 13:08] #226 closed

[2022-10-24 15:02] Skipper0707 commented on #233
Thanks, @akvlad, that solves my problem regarding the Alertmanager configurations. I already do have an instance of Alertmanager the problem was I wasn't able to find Qyrn side's configurations regarding Alertmanager in the wiki nor the documentation [here](https://qryn.metrico.in/#/env).

[2022-10-24 15:22] #233 closed

[2022-10-25 09:56] akvlad commented on #231
2000 spans limit is merged.

[2022-10-26 02:37] Cluas commented on #231
ok, I will try. thanks!

[2022-10-26 12:50] akvlad commented on #201
I'm walking through old issues.
@dvillaume is this issue still relevant for now?

[2022-10-26 12:52] akvlad commented on #199
The PR is merged.
The endpoint exists in the latest release.
I close this issue.

[2022-10-26 12:52] #199 closed

[2022-10-26 12:53] dvillaume commented on #201
We bypasssed it, thanks.

[2022-10-26 12:53] #201 closed

[2022-10-26 12:53] akvlad commented on #161
I'm walking through old issues.
@kazu12  is this issue still relevant for now?

[2022-10-27 08:11] #231 closed

[2022-10-30 18:14] lmangani commented on #3
![view-demo-all](https://user-images.githubusercontent.com/1423657/198894517-79c58f75-6108-4a07-99a2-3a41ca833fc8.png)
![view-demo-flux](https://user-images.githubusercontent.com/1423657/198894519-d34e1ee0-8a52-4e5a-bb2f-0a8c48360d07.png)
![view-demo-promqlmetrics](https://user-images.githubusercontent.com/1423657/198894520-4294be9e-45a3-4308-8e27-7c789f5a218b.png)
![view-demo-logqlmetrics](https:

[2022-11-05 06:00] zly-app opened #238 "从docker运行无法使用"
[code]

# 案例1

当 clickhouse 的密码是sha256标签 <password_sha256_hex> 时收到以下错误

[code]

# 案例2

当 clickhouse 的密码是明文标签 <password> 时收到以下错误

[code]

# 额外的

是否能增加小白的搭建方式, 从 clickhouse 搭建样例开始. 并且 CLICKHOUSE_DB 配置的db是否需要手动创建? 我不知道, 所以我直接使用 default 库

[2022-11-06 22:30] akvlad commented on #238
Hello.
Error #2
Please use the latest clickhouse version (https://hub.docker.com/layers/clickhouse/clickhouse-server/22.10.2.11-alpine/images/sha256-50ad5d5c39449544b67b5b567464c566fbec42d242f2343ee333f14762490c72?context=explore for example). 21.X is obsolete.

Error #1
It looks like that `getaddrinfo ENOTFOUND` didn't connect to `172.17.0.1:10510`. Please check this endpoint from inside the dock

[2022-11-07 05:27] zly-app commented on #238
Thank you very much. It's running!

use image `clickhouse/clickhouse-server:22.10.2.11`

[2022-11-07 05:27] #238 closed

[2022-11-07 09:09] zly-app opened #239 "lokiAPI can't support request body compress"
if headers has `Content-Type: application/json` and body use gzip compress.
then request got this error.

API: `/loki/api/v1/push`

[code]

but not use compress is Perfect operation

[2022-11-07 09:12] zly-app commented on #239
log

[code]

[2022-11-07 09:13] lmangani commented on #239
How are you sending data? Did you set `Content-Encoding: gzip` in the request?

[2022-11-09 02:50] wwilfinger opened #242 "Parser fails to parse empty strings"
Hello!

Grafana's "Explore" defaults with the query builder turned on. After you select a label filter Grafana builds a query like `{container="example"} |= `` ` Qryn fails to parse these queries, but Loki runs them just fine. From guessing and checking it seems like it's the empty string that it doesn't like.

[code]

The error is

[code]

For what it's worth, the animation with Grafana in the Qr

[2022-11-09 08:39] lmangani commented on #242
Hello @wwilfinger

This doesn't seem to be a qryn but, but rather a Grafana one. We observed this bug on broken Grafana versions (9.1.x)
Could you kindly specify the version of both qryn and grafana in use?

[2022-11-09 11:28] lmangani commented on #3
![q_cloud_bubble](https://user-images.githubusercontent.com/1423657/200818512-484cd226-87ae-47c4-8431-20f5a3cdca2c.png)

![image](https://user-images.githubusercontent.com/1423657/200818709-4ed3d946-9210-4d82-8a57-42d88d27d4dc.png)

[2022-11-09 12:22] MalKeshar opened #243 "Documentation: minimal required version of clickhouse"
I'm fail to find minimal required version of clickhouse, which is compatible with qryn.

It is not possible to run docker-qryn(v2.1.42) with clickhouse<21.6 due to https://github.com/ClickHouse/ClickHouse/issues/20865.
This fix was added only in 21.6. I think it good to mention that qryn requires clickhouse>=21.6 somewhere.

[2022-11-09 12:36] lmangani commented on #243
@MalKeshar great question! We're trying to assemble a compatibility table - will prioritize this in the docs!

In general terms, the latest LTS is the ideal target as we do use the latest features available.

[2022-11-09 12:54] lmangani commented on #243
Feel free to comment and/or reopen if needed & thanks for the suggestion!

[2022-11-09 12:54] #243 closed

[2022-11-09 16:48] lmangani commented on #242
Interesting. Does it work when you remove the empty match condition?

[2022-11-09 17:14] lmangani commented on #242
@wwilfinger fixed in qryn@2.1.44 by @akvlad ⚡

Thanks for your report and support! Please let us know if this validates in your setup.

[2022-11-09 17:29] akvlad commented on #242
not yet. Working on it.

[2022-11-09 17:45] lmangani commented on #242
Looks fixed in qryn@2.1.45 and all tests passing

[2022-11-09 17:53] #242 closed

[2022-11-09 19:06] wwilfinger commented on #242
Yep looks like v2.1.45 did the trick. Thanks so much for all your help!

[2022-11-09 20:33] lmangani commented on #228
@Dletta can this issue be closed?

[2022-11-13 13:31] kazu12 commented on #161
sorry for delay replied message。I have not update the latest version. I play update it next week.

think for responese. I will try it.

[2022-11-13 15:50] lmangani commented on #3
![qryn_3d_project_glow](https://user-images.githubusercontent.com/1423657/201530880-ed3358f7-1be4-449b-b21e-03f86eebf06a.png)

[2022-11-14 18:40] MalKeshar opened #248 "Docs: project roadmap page"
First of all, thank you for open-sourcing your very promising project!

I found  project roadmap in your presentation dated by 10.2021
https://www.slideshare.net/Altinity/cloki-like-loki-but-for-clickhouse
but I fail to find current status of it. Do you have page with roadmap, which can you share?

labels: question, docs

[2022-11-15 04:14] Cluas opened #249 "feature request: grafana pyroscope"
https://github.com/grafana/phlare

[2022-11-15 05:17] Dletta commented on #249
I would be interested to know what the result of trying Phlare with Qryn
is. Have you tried to run it? Does it not work with Loki already out of the
box or via grafana agent?

On Mon, Nov 14, 2022, 22:14 Cluas ***@***.***> wrote:

[2022-11-15 05:44] Cluas commented on #249
https://grafana.com/docs/phlare/latest/operators-guide/configure-agent/about-the-agent/

api can be found hear. https://github.com/grafana/phlare/blob/main/proto/push/v1/push.proto

[2022-11-15 05:47] Cluas commented on #249
We now use https://github.com/parca-dev/parca, We modified its code to replace the underlying storage with clickhouse, but parca's grafana plugin is not pretty 😂

[2022-11-15 05:54] Cluas commented on #249
![grafana-profiles](https://github.com/grafana/phlare/blob/main/images/grafana-profiles.gif)

[2022-11-15 08:23] lmangani commented on #249
@Cluas this is most definitely going to be supported, and we'll begin integration as soon as Grafana [documents the APIs](https://grafana.com/docs/phlare/v0.1.x/operators-guide/reference-http-api/), since ingestion is only half of the picture and integration is usually where the feature is at. We have no time to reverse engineer the clients right now but if you do, please share the API endpoints G

[2022-11-16 15:37] R-omk opened #250 "Parse json and filter by fields value on clickhouse side"
Do JSONExtractString  on `samples.string`    in the same way as on `time_series.labels`

[code]

[2022-11-16 16:21] akvlad commented on #250
@R-omk if you want to use JSONExtractString, please use json with parameters:
{namespace="ns1"}   | json f1="field1FromJson", f2=field2FromJson" | f1="val1" | f2!~"err"

Parameterless json operator works in a completely different way and cannot be emulated by clickhouse.

[2022-11-16 17:07] R-omk commented on #250
It really worked, but I think I found a bug.

I tried something like this, but the result contains lines that do not contain `POST`

[code]

However, exact match works correctly.

part of raw sql
[code]

[2022-11-16 17:22] akvlad commented on #250
@R-omk :D I think I switched `=~` and `!~`
Please check !~ "POST"

[2022-11-16 17:34] R-omk commented on #250
yep, that's exactly what it is )

[2022-11-16 17:40] akvlad commented on #250
Thanks for the bug report. I will fix it tomorrow.

[2022-11-16 17:45] R-omk commented on #250
I also watched a crash today during work with json , you can try it yourself,

Tomorrow I'll try to create a separate ticket if you don't do it earlier.

context:
` | json  xxx="message"   | line_format "{{.xxx}}" | json | request=~`ttt1``

`message`  contains string with valid json with field `request`
env `LINE_FMT=go_native`

--

I also observe problems with the standard grafana pattern  "Log q

[2022-11-16 17:48] akvlad commented on #250
error doesn't exist.
Erroneous lines are omitted.
{} empty brackets are not supported as well.

[2022-11-17 09:04] vbichov opened #251 "allow flag for disable schema creation/allignment"
in some cases, it should be possible to provision the database schema outside the application
it may be due to secutiry reasons or for trying out some experimental features that clickouse provides

it is granted that users that enable this flag should be familiar with the shcema and it's usage

[2022-11-17 10:45] akvlad commented on #250
The fix is tested and merged.  @R-omk Please check.

[2022-11-17 19:00] adubovikov commented on #249
do you insert the data directly to clickhouse or thru own gRPC server ?

[2022-11-18 02:01] Cluas commented on #249
For direct insertion, I implemented the Querier and MetadataStore interfaces, abstracting the Ingester interface. metastore flag adds the type clickhouse, a new profilestore flag with the option of frostdb or clickhouse.

[2022-11-18 11:25] R-omk opened #253 "Request error and cpu usage"
During the request (can see the log below), it got stuck for 20 seconds while consuming 100% of the processor time, after which the error information appeared in the logs and no requests were made to the clickhouse storage.

qryn log:

[code]

version: docker.io/qxip/qryn:v2.1.45
env LINE_FMT=go_native

[2022-11-18 11:42] akvlad commented on #253
`sum() `I   believe is not supported.
`sum() by (...) ` - is a correct request.
if you want `sum()` then you can just omit sum() because it's a sum of 1 element.

100% cpu and delay is I think because of internal implementation of parser. Well, maybe the BNF part is not that flawless.

[2022-11-18 12:09] R-omk commented on #253
This construction `sum(count_over_time(` works,  but it it works till I add `unwrap`

no request works for me if it contains `unwrap` word

[2022-11-18 12:21] akvlad commented on #253
let's check the documentation. There are two types of operations:
- https://github.com/metrico/qryn/wiki/LogQL-Supported-Queries#log-range-aggregations : these **don't** work with unwrap.
- https://github.com/metrico/qryn/wiki/LogQL-Supported-Queries#unwrap-expression : these work **only** with unwrap
- https://github.com/metrico/qryn/wiki/LogQL-Supported-Queries#aggregation-operators : these work

[2022-11-18 12:37] R-omk commented on #253
when I execute the expression described in the wiki, I get the following result

[code]

`rate({label1="val1"}|unwrap int_valued_label [1s]) by (another_label)`

[2022-11-18 12:59] akvlad commented on #253
Seems like a bug.
Feature definitely tested today is something like `rate({label1="val1"} | regexp "^(?<nothing>.)" | unwrap int_valued_label [1s]) by (another_label)` . please use this for now. I'll check why the described case doesn't work.

Thanks for the report.

[2022-11-18 13:06] R-omk commented on #253
Here's another example,

successfully completed
`sum(count_over_time({pod=~"stg-core-nginx-6bb569dc78"}   |   json request_uri="message.request_uri"   [1m])) by (request_uri )`

add  ` | request_uri!~'noti'`

`sum(count_over_time({pod=~"stg-core-nginx-6bb569dc78"}   |   json request_uri="message.request_uri"  | request_uri!~'noti'  [1m])) by (request_uri ) `

as a result:
stuck and fail with error

[2022-11-18 13:24] R-omk commented on #253
I think I'm trying to find a problem where there isn't one)

in any case, qryn responds with status 200 even if there are errors, this is strange...  and lock js event loop for 19s

[2022-11-18 13:33] akvlad commented on #253
There was an issue with non-200 responses and logs push clients. Maybe we need 400 or 500 responses for reader routes.
I'll check.

[2022-11-18 13:42] akvlad commented on #253
- [ ] check a problematic request:
[code]
gets 19s to be parsed
- [ ] `rate({label="val"} | unwrap b [1s])` requests fail
- [ ] response with a legit error code if a request is erroneous

Will work on it.

[2022-11-18 13:45] lmangani commented on #249
Indeed, if you like puzzles! I think as we did for Loki & Co, we need to observe a actual integration and enumerate the MVP APIs we need to support to get started and to establish analogies with our existing underlying formats.  We're willing to try this, but we need samples. Any material is super welcome to push this integration forward.

[2022-11-18 18:15] MalKeshar opened #254 "Using regexp parser leads to error "Cannot read properties of undefined""
I'm fail to get working example with regexp parser. UPlease point me, what did I miss?

Simplified example

### 1. Ok query
[code]
shows
1x
1x
1x

### 2. Not ok query
[code]
shows "No data"

qryn report errors in logs:
[code]
I have tried other options but without any success.

docker-qryn v2.1.46
grafana 9.2.5
clickhouse 21.8.15.7

[2022-11-18 21:16] lmangani commented on #254
Thanks for the report @MalKeshar
The regex stage before the line_format should be working fine but clearly the opposite does not. We'll check and replicate.

[2022-11-18 21:23] Dletta commented on #254
@MalKeshar
Indeed this does work in Loki vs qryn and we will put this on the to do list.

[2022-11-19 13:12] MohammadrezaNasrabadi opened #255 "Requsets to qryn api fails sometimes!"
I have a monitoring stack composed of `promtail` , `grafana`, `qryn` and `clickhouse` services. `promtail` applies labels and sends logs toward `qryn` and `qryn` stores logs on `clickhouse`.

If a `qryn` API request is sent, qryn behaves strangely! Sometimes these queries will be responded successfully, like below:

![image](https://user-images.githubusercontent.com/77168970/202852185-7d2772ab-ec3

[2022-11-19 14:27] lmangani commented on #255
Thanks for your report @MohammadrezaNasrabadi
Could you confirm if you see any errors while inserting data, or only when running a query?

[2022-11-19 14:45] MohammadrezaNasrabadi commented on #255
I checked POST method logs on `qryn` and I haven't seen any error on inserting data. All of status codes are 204

[2022-11-19 14:48] lmangani commented on #255
Thanks for the update. How about ClickHouse? Do you see any errors while inserting and/or running the problem queries?
Could you also add any messages from the qryn logs preceding the 500 error?

[2022-11-19 14:55] MohammadrezaNasrabadi commented on #255
Below are different types of 500 error:

[code]
[code]

[code]

[code]

How should I make ensure about clickhouse health functionality? I don't see any error log on clickhouse side.

[2022-11-19 15:00] lmangani commented on #255
Thanks, this helps. We'll try to replicate this and as soon as we do, a fix will be available.

No errors mean no issues, so the ClickHouse side should only be monitored in terms of load/IO performance.

[2022-11-19 15:02] lmangani commented on #255
Are you positive there are no other related log messages before the 500?

[2022-11-19 15:08] MohammadrezaNasrabadi commented on #255
Thanks a lot. These are logs related to my queries:

The below logs are related to the query proceeded from grafana:

[code]

Also below is error response when our services had requested the query:

[code]

[2022-11-19 21:45] MohammadrezaNasrabadi commented on #255
I observed from logs that every logs with the same `reqId` value have a status code log equal to 200, even if the log was related to an error response.

![image](https://user-images.githubusercontent.com/77168970/202872636-cccb8e9b-489e-49f0-bc2c-e11ae4e9d464.png)

![image](https://user-images.githubusercontent.com/77168970/202872703-134c12b2-b99d-4cc8-bafa-29608a8d1423.png)

[2022-11-21 13:18] akvlad commented on #253
@R-omk I have the issues fixed in a separate branch https://github.com/metrico/qryn/tree/issue_253 . We need to test it more closely because I changed some core functionality. But the autotests passed successfully.
Please check.

[2022-11-21 14:09] akvlad commented on #254
@MalKeshar the issue is fixed in https://github.com/metrico/qryn/pull/257 .
The branch will be merged into master after some extra tests.
Anyway, autotests are successful.  Feel free to check.

[2022-11-21 15:36] akvlad commented on #255
Hello @MohammadrezaNasrabadi .
The log reports were appended with some extra error information.
But now all the alterations are in the https://github.com/metrico/qryn/tree/beta branch due to some extra testing needs. Please check your setup with the branch version.

Also please send us some statistics of your qryn database:
`SELECT count(DISTINCT fingerprint) FROM time_series`
`SELECT count(1) FRO

[2022-11-21 22:28] MohammadrezaNasrabadi commented on #255
Hi @akvlad .
Thanks for your support.

Below are amount of data stored on DB:

![image](https://user-images.githubusercontent.com/77168970/203170550-eb04d7ee-e99e-4b44-848d-91c1afc88d8d.png)

[2022-11-22 06:33] Cluas opened #259 "span.attributes is not iterable"
[code]

[2022-11-22 08:16] R-omk commented on #253
version:  beta ([51fb31a](https://github.com/metrico/qryn/commit/51fb31a9003aaddb74f069f16b73417d4bf2e8f0))

[code]

--

[2022-11-22 08:41] akvlad commented on #253
@R-omk I see no issues in the logs. Can you explain a bit?

[2022-11-22 08:47] R-omk commented on #253
my bad. it's not a valid request, you already explain that.

[2022-11-22 08:49] akvlad commented on #253
Yeah `|unwrap` needs a label name after.  As you see, it was processed in 0.005s instead of 19s previously.

[2022-11-22 09:05] akvlad commented on #255
3M fingerprints... Well, I don't advice to have more than 10M.
But please consider reducing cardinality to at least several 100K. High cardinality of key-value sets may cause out-of-memory errors.

Please update to beta branch or please wait until we merge it and let's see the real error returned by clickhouse.

[2022-11-22 09:09] R-omk commented on #253
It looks like all the points listed earlier have been resolved.

[2022-11-22 09:13] lmangani commented on #259
Could you provide an example insert?

[2022-11-22 09:26] akvlad commented on #253
@R-omk Great to hear. Please use the beta branch and notify us about any regression bugs you observe.
I'll merge the branch in a couple of days.

[2022-11-22 11:06] Cluas commented on #259
https://github.com/parca-dev/parca/blob/main/scripts/local-tracing/README.md

Only this sevice can't not export tracing data.

[2022-11-22 11:38] Cluas commented on #259
I'm new to node js, but with my intuition and the results I've tested, I think it's because there's no null determination here, and some services do have spans that don't carry any attributes. like parca.

[2022-11-22 12:21] #259 closed

[2022-11-23 15:00] MalKeshar opened #261 "Unability to use days and weeks as interval"
1. Using h(hours) or d(days) as interval leads to error "Expected [ 'ns', 'us', or 'ms' ] ". At the same time it works in the original loki.
query:
[code]
err:
[code]

2. As interval I can use duration: s,m,h even error in the log mention only ns,us,ms.

query_range: 90d, so query_range>interval
qryn version: v2.1.47

Full error
[code]

[2022-11-23 17:21] MalKeshar commented on #254
Thank you!

[2022-11-23 19:38] akvlad commented on #251
Fixed in 2.1.48.
Please use `OMIT_CREATE_TABLES=1` env var to omit tables creation.

[2022-11-23 19:39] akvlad commented on #253
Merged.
If no new questions, I close the issue.

[2022-11-23 19:39] #253 closed

[2022-11-23 19:40] akvlad commented on #254
The branch is merged.

[2022-11-23 19:40] #254 closed

[2022-11-23 19:41] akvlad commented on #255
The beta branch is merged. Please update and provide the full error log of an unsuccessful request.

[2022-11-23 19:42] akvlad commented on #250
Issue is closed due to no new questions.

[2022-11-23 19:42] #250 closed

[2022-11-24 10:47] #251 closed

[2022-11-24 11:52] akvlad commented on #239
Yeah. GZIP demands `Content-Encoding` as described here https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Encoding . I can test and implement if needed.

[2022-11-24 13:26] lmangani commented on #251
Documented at https://qryn.metrico.in/#/env

[2022-11-24 16:34] MalKeshar opened #262 "Different time in aggregated data between loki and qryn"
I start to compare results between loki and qryn on the same dataset. Well I'm not sure the dataset exactly the same I just send the same data via vector to loki and qryn uplinks. So at some point I found the difference in calculated data between them. Further investigation shows me that cloki and qryn even use different approaches while aggregating data. The same query (instant)
[code]

gave me d

[2022-11-24 16:48] MalKeshar commented on #262
I don't know if time diff is the reason for different results in calculations. I'm not sure I will have a time to take a deeper look in this issue. Probably I have to switch to using loki in my tests in the near future.

[2022-11-24 17:05] akvlad commented on #262
Qryn and Loki use different aggregation algorithms.
Loki uses time window.
Qryn rounds to the duration you specify in `[]`. (Like GROUP BY in SQL).  It is quite descriptive if you compare range queries.
This is considered due to performance issues.
I'll recheck instant queries results, but we do not plan to use window functions in aggregations.

[2022-11-25 17:22] MalKeshar opened #263 "Max size of regex string for a label comparison"
Please point me, what is the max size for the regex pattern for the label comparison?
I have the query which fails with "RangeError: Maximum call stack size exceeded" on qryn.
The same query works on original loki.
String became that big due to grafana variable substitution from the list of the possible label values. Probably bad idea.

[code]

[2022-11-25 17:53] akvlad commented on #263
We haven't tested the parser library against the maximum size of expression it can process.
But as far as it uses recursion to parse, I don't think it's possible to make the request too big.

[2022-11-25 17:56] lmangani commented on #263
All you have to do is this: https://qryn.metrico.in/#/env?id=node-parameters

On Fri, Nov 25, 2022, 18:53 akvlad ***@***.***> wrote:

[2022-11-26 09:44] MohammadrezaNasrabadi commented on #255
Thanks a lot, and I apologize for responding late.

I update `qryn`  image to the latest version and there is a real log that `clickhouse` passes to `qryn`. the failed request has been sent from garafana client.

![image](https://user-images.githubusercontent.com/77168970/204082301-a4207c51-edf2-429b-a061-57b9d1b3d156.png)

Actually, We need to limit the amount of `clickhouse` memory usage. What d

[2022-11-26 18:53] #263 closed

[2022-11-26 19:23] lmangani commented on #255
The memory requirements will be directly proportional to the desired/required complexity of your queries. In order to even start to understand what is happening we need more details. How much memory is allocated to qryn and ClickHouse server?

[2022-11-27 08:20] MohammadrezaNasrabadi commented on #255
We have limited ClickHouse to use 4GB memory and  2 threads.

![image](https://user-images.githubusercontent.com/77168970/204125649-c7956566-0407-4c87-a58a-f891d71551ed.png)

[2022-11-27 12:17] lmangani commented on #255
High cardinality seems to be the only issue in this equation.
You should either try to reduce the amount of fingerprints, or allocate more memory, or both.

[2022-11-27 13:28] MohammadrezaNasrabadi commented on #255
Yes, it makes sense, we decide to reduce the number of received logs via qryn.

Thanks a lot for your amazing support.

[2022-11-27 13:48] lmangani commented on #261
I do not have a 90d test setup with with up to 7d I cannot replicate this issue. I've tried incrementally.

Count over time and grouping seem to work fine:

Count of Count over time and grouping also seems to work fine:

I've tried different range types and could not obtain the same error message with qryn `2.1.50`

Are you forming and running queries using Grafana? They appear to have human gener

[2022-11-27 14:30] #255 closed

[2022-11-27 14:31] lmangani commented on #255
Mind you do not need to reduce the amount of logs - you can have as many as you want - the issue is just with the amount of labels. So if you reduce the labels you are attaching to logs, the memory requirements should significantly drop.

You are most welcome! Thanks for the feedback!

[2022-11-27 16:05] MohammadrezaNasrabadi opened #264 "Fail to store lncoming logs into DB"
In our log management stack, central rsyslog service receives logs from other agent rsyslog nodes, sends these gathered logs to promtail, promtail applies some labels (about 20 labels) on incoming logs, and sends them to qryn.

The push  request from promtail could be seen in qryn container logs, but qryn doesn't store logs on DB, because the status code 204 was not shown per requestID.

I set `NO

[2022-11-27 16:08] akvlad commented on #264
@MohammadrezaNasrabadi please try increasing the stack size as described here https://stackoverflow.com/questions/71237313/how-to-change-stack-size-limit-in-nodejs

[2022-11-27 16:28] MohammadrezaNasrabadi commented on #264
It seems it is not supported to pass `stack-size` value inside `NODE_OPTIONS` variable when starting container.

`NODE_OPTIONS="--max-old-space-size=4096 --stack-size=4096"`

[code]

[2022-11-27 16:46] akvlad commented on #264
Can you please provide a sample of the labels set? With all the specific data masked of course.

[2022-11-27 19:45] lmangani commented on #239
We could use the Fastify handlers globally or selectively to act based on headers
WIP https://github.com/metrico/qryn/pull/265

[2022-11-27 19:57] MohammadrezaNasrabadi commented on #264
This is the configuration of promtail which sets labels on received syslog logs.

[code]

If I understand any valuable logs or data, will inform you.

[2022-11-27 21:33] MohammadrezaNasrabadi commented on #264
I have tested qryn `2.1.2` and the PUSH requests are passed to DB successfully

[2022-11-27 23:02] lmangani commented on #264
@MohammadrezaNasrabadi do you mean this does not working any version higher than 2.1.2?

[2022-11-28 06:59] MohammadrezaNasrabadi commented on #264
Actually I didn't test versions higher than `2.1.2`. I have chosen this version based on propose of my googling `qryn docker hub`.

[2022-11-28 07:24] MohammadrezaNasrabadi commented on #264
@lmangani

Are the number of labels I'm set reasonable based on our discussion on #255  ?

[2022-11-28 10:35] akvlad commented on #264
The labels number you use is too large and the cardinality of label sets will become enormous very fast.
I propose you to remove the most of them and leave only:
- instance_id (if you have less than 100000 instances)
- component
- in
- level
- state
- appname
Please consider removing all other fields from the label set and store them in the log message only.

Of course, I'll do some research and o

[2022-11-28 15:53] MohammadrezaNasrabadi commented on #264
I understood we applied some useless and extra extensive labels (like timestamps or messages). Thanks for your notice.

But the interesting point is that the lower version was able to be functional under the huge amount of labels still.

[2022-11-28 19:13] MalKeshar commented on #261
With dynamic $__interval all fine. I guess because it's always use minutes/seconds under the hood.
Problem appears if you choose exact interval type, like [1h].